// button
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
	@extend %m-font-base;
	@extend %m-interact-base;
	background-size: 100% 200%;
  background-image: linear-gradient(0deg, $m-primary 50%, $m-background 50%);
  background-position: 0 100%;
  border: 1px solid $m-primary;
  color: $m-background;
	padding: $m-input-padding $m-input-padding * 2;
	&.hover,
	&:focus,
	&:hover {
		background-position: 0 0;
    color: $m-primary;
	}
}

.btn-sm {
	font-size: $m-font-size * .75;
	padding: $m-input-padding * .5 $m-input-padding;
}

.btn-lg {
	font-size: $m-font-size * 1.5;
	padding: $m-input-padding * 2 $m-input-padding * 4;
}

.btn-block {
	display: block;
	padding: $m-input-padding * 2;
	width: 100%;
}

[class^="btn-circle"] {
	background: $m-primary;
	border-radius: 50%;
	box-shadow: 0 0 0 0 $m-primary;
	color: $m-background;
	padding: 0;
	&.hover,
	&:focus,
	&:hover {
		box-shadow: 0 0 0 3px $m-primary;
		color: $m-background;
	}
}

.btn-circle {
	height: $m-input-height;
	width: $m-input-height * 1.1;
}

.btn-circle-sm {
	font-size: $m-font-size * .75;
	height: $m-input-height * .75;
	width: $m-input-height * .80;
}

.btn-circle-lg {
	font-size: $m-font-size * 1.5;
	height: $m-input-height * 1.5;
	width: $m-input-height * 1.6;
}

.btn-img {
	display: flex;
	align-items: flex-end;
	padding: $m-input-padding;
}

@each $name, $color, $font-hover in $m-button-colors {
	.btn-#{$name} {
		background-image: linear-gradient(0deg, $color 50%, $m-background 50%);
		border: 1px solid $color;
		color: $m-background;
		&.hover,
		&:hover,
		&:focus {
			color: $color;
		}
	}

	[class^="btn-circle"].btn-#{$name} {
		background: $color;
		box-shadow: 0 0 0 0 $color;
		color: $m-background;
		&.hover,
		&:focus,
		&:hover {
			background: $color;
			box-shadow: 0 0 0 3px $color;
			color: $m-background;
		}
	}
}
