// button
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
	@extend %m-font-base;
	@extend %m-interact-base;
	background-size: 220% 100%;
  background-image: linear-gradient(90deg, $m-actn-color 50%, transparent 50%);
  background-position: 99% 0;
	border: $m-btn-border-width $m-btn-border-style $m-actn-border-color;
	color: $m-actn-font;
	display: inline-block;
	padding: $m-input-padding $m-input-padding * 1.5;
	&.hover,
	&:focus,
	&:hover {
		background-position: 0 0;
		border: $m-btn-border-width $m-btn-border-style $m-actn-border-color;
		color: $m-background;
	}
}

.btn-sm {
	font-size: $m-font-size * .75;
	padding: $m-input-padding * .5 $m-input-padding;
	transition-duration: .4s;
	box-shadow: inset 0 0 0 0 $m-actn-color;
	&.hover,
	&:focus,
	&:hover {
		box-shadow: inset 0 0 0 $m-input-height*.1 $m-actn-color;
	}
}

.btn-lg {
	font-size: $m-font-size * 1.5;
	padding: $m-input-padding * 2 $m-input-padding * 4;
	transition-duration: .8s;
	box-shadow: 0 0 0 0 $m-actn-color;
	&.hover,
	&:focus,
	&:hover {
		box-shadow: 0 0 0 $m-input-height*.1 $m-actn-color;
	}
}

.btn-block {
	display: block;
	width: 100%;
	transition-duration: .8s;
	box-shadow: inset 0 0 0 0 $m-actn-color, 0 0 0 0 $m-actn-color;
	&.hover,
	&:focus,
	&:hover {
		box-shadow: inset 0 0 0 $m-input-height $m-actn-color, 0 0 0 $m-input-height*.1 $m-actn-color;
	}
}

.btn-circle,
.btn-circle-sm,
.btn-circle-lg {
	border-radius: 50%;
	box-shadow: inset 0 0 0 0 $m-actn-color, 0 0 0 0 $m-actn-color;
	padding: 0;
	transition-duration: .4s;
	&.hover,
	&:focus,
	&:hover {
		box-shadow: inset 0 0 0 $m-input-height $m-actn-color, 0 0 0 $m-input-height*.1 $m-actn-color;
	}
}

.btn-circle {
	height: $m-input-height;
	width: $m-input-height * 1.1;
}

.btn-circle-sm {
	font-size: $m-font-size * .75;
	height: $m-input-height * .75;
	width: $m-input-height * .80;
}

.btn-circle-lg {
	font-size: $m-font-size * 1.5;
	height: $m-input-height * 1.5;
	width: $m-input-height * 1.6;
}

.btn-img {
	display: flex;
	align-items: flex-end;
	padding: $m-input-padding;
}

@each $name, $color, $font-hover in $m-button-colors {
	button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	[class^="btn"].btn-#{$name} {
		border-color: $color;
		color: $color;
		background-image: linear-gradient(90deg, $color 50%, transparent 50%);
		&.hover,
		&:hover,
		&:focus {
			border-color: $color;
			color: $font-hover;
		}
	}

	.btn-sm.btn-#{$name} {
		box-shadow: inset 0 0 0 0 $color;
		&.hover,
		&:focus,
		&:hover {
			box-shadow: inset 0 0 0 $m-input-height*.1 $color;
		}
	}

	.btn-lg.btn-#{$name} {
		box-shadow: 0 0 0 0 $color;
		&.hover,
		&:focus,
		&:hover {
			box-shadow: 0 0 0 $m-input-height*.1 $color;
		}
	}

	.btn-block.btn-#{$name},
	.btn-circle.btn-#{$name},
	.btn-circle-sm.btn-#{$name},
	.btn-circle-lg.btn-#{$name} {
		background-image: linear-gradient(90deg, $color 50%, transparent 50%);
		border-color: $color;
		box-shadow: inset 0 0 0 0 $color, 0 0 0 0 $color;
		&.hover,
		&:focus,
		&:hover {
			border-color: $color;
			box-shadow: inset 0 0 0 $m-input-height $color, 0 0 0 $m-input-height*.1 $color;
			color: $font-hover;
		}
	}
}
