// link
%m-link-base {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $m-actn-color;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
%m-link-hover-base {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $m-actn-color-hover;
  text-decoration: none;
}

a,
button.link,
input[type="button"].link,
input[type="submit"].link,
input[type="reset"].link,
.link {
  @extend %m-interact-base;
  @extend %m-link-base;
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
  }
}

button.link-underline,
.link-underline {
  @extend %m-link-base;
  position: relative;
  &::after {
    background: $m-actn-color;
    transition: $m-transition;
    height: $m-a-underline;
    content: "";
    position: absolute;
    bottom: 0;
    left: $m-spacelement * .4;
    width: $m-spacelement * .4;
  }
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    position: relative;
    &::after {
      background: $m-actn-color-hover;
      width: 100%;
    }
  }
}
button.link-r-underline,
.link-r-underline {
  @extend %m-link-base;
  position: relative;
  &::after {
    background: $m-actn-color;
    transition: $m-transition;
    height: $m-a-underline;
    content: "";
    position: absolute;
    bottom: 0;
    right: -#{$m-spacelement * .4};
    width: 100%;
  }
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    position: relative;
    &::after {
      background: $m-actn-color-hover;
      width: $m-spacelement * .4;
    }
  }
}

@each $name, $color, $color-hover, $font , $font-hover, $border, $border-hover in $m-actn-colors {
  button.link-#{$name},
  input[type="button"].link-#{$name},
  input[type="submit"].link-#{$name},
  input[type="reset"].link-#{$name},
  .link-#{$name} {
    color: $color;
    &.hover,
    &:hover,
    &:active,
    &:focus {
      color: $color-hover;
    }
  }

  button.link-underline.link-#{$name},
  .link-underline.link-#{$name},
  button.link-r-underline.link-#{$name},
  .link-r-underline.link-#{$name} {
    &::after {
      background: $color;
    }
    &.hover,
    &:hover,
    &:active,
    &:focus {
      &::after {
        background: $color-hover;
      }
    }
  }

}
