// link
%m-link-base {
  display: inline-block;
  border: none;
  box-shadow: none;
  color: $m-actn-color;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition-duration: $m-link-transition-time;
}
%m-link-hover-base {
  border: none;
  box-shadow: none;
  color: $m-actn-color-hover;
  text-decoration: none;
}

a,
button.link,
input[type="button"].link,
input[type="submit"].link,
input[type="reset"].link,
.link {
  @extend %m-interact-base;
  @extend %m-link-base;
  background-size: 100% 200%;
  background-image: linear-gradient(0deg, $m-actn-color 50%, transparent 50%);
  background-position: 0 -1px;
  color: $m-actn-font;
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    color: $m-actn-font-hover;
    background-position: 0 -100%;
  }
}

button.link-underline,
.link-underline {
  @extend %m-interact-base;
  @extend %m-link-base;
  background: none;
  position: relative;
  text-decoration: none;
  &::after {
    background: $m-actn-color;
    transition: $m-actn-transition;
    height: $m-link-underline;
    content: "";
    position: absolute;
    bottom: 0;
    left: $m-spacelement * .4;
    width: $m-spacelement * .4;
  }
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    background: none;
    position: relative;
    text-decoration: none;
    &::after {
      background: $m-actn-color-hover;
      width: 100%;
    }
  }
}
button.link-r-underline,
.link-r-underline {
  @extend %m-interact-base;
  @extend %m-link-base;
  background: none;
  position: relative;
  text-decoration: none;
  &::after {
    background: $m-actn-color;
    transition: $m-actn-transition;
    height: $m-link-underline;
    content: "";
    position: absolute;
    bottom: 0;
    right: -#{$m-spacelement * .4};
    width: 100%;
  }
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    background: none;
    position: relative;
    text-decoration: none;
    &::after {
      background: $m-actn-color-hover;
      width: $m-spacelement * .4;
    }
  }
}

button.link-line-up,
.link-line-up {
  @extend %m-interact-base;
  @extend %m-link-base;
  background: none;
  position: relative;
  text-decoration: none;
  &::after {
    background: $m-actn-color;
    transition: $m-actn-transition;
    height: $m-link-underline;
    content: "";
    position: absolute;
    bottom: 0;
    left: $m-spacelement * .4;
    width: $m-spacelement * .4;
    z-index: -1;
  }
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    background: none;
    color: $m-color;
    position: relative;
    text-decoration: none;
    &::after {
      background: $m-actn-color;
      height: $m-font-size;
      width: 100%;
    }
  }
}
button.link-bg-up,
.link-bg-up {
  @extend %m-interact-base;
  @extend %m-link-base;
  background: none;
  position: relative;
  text-decoration: none;
  &::after {
    background: $m-actn-color;
    transition: $m-actn-transition;
    height: $m-link-underline;
    content: "";
    position: absolute;
    bottom: -#{$m-line-height * .1};
    left: 0;
    width: 100%;
    z-index: -1;
  }
  &.hover,
  &:hover,
  &:active,
  &:focus {
    @extend %m-link-hover-base;
    background: none;
    color: $m-background;
    position: relative;
    text-decoration: none;
    &::after {
      background: $m-actn-color;
      height: $m-line-height * 1.1;
    }
  }
}

@each $name, $color, $color-hover, $font-hover-line, $font-hover-background in $m-link-colors {
  button.link-#{$name},
  input[type="button"].link-#{$name},
  input[type="submit"].link-#{$name},
  input[type="reset"].link-#{$name},
  .link-#{$name} {
    color: $color;
    background-image: linear-gradient(0deg, $color 50%, transparent 50%);
    &.hover,
    &:hover,
    &:active,
    &:focus {
      color: $font-hover-background;
    }
  }

  button.link-underline.link-#{$name},
  .link-underline.link-#{$name},
  button.link-r-underline.link-#{$name},
  .link-r-underline.link-#{$name} {
    color: $color;
    background: none;
    &::after {
      background: $color;
    }
    &.hover,
    &:hover,
    &:active,
    &:focus {
      color: $color-hover;
      background: none;
      &::after {
        background: $color-hover;
      }
    }
  }

  button.link-line-up.link-#{$name},
  .link-line-up.link-#{$name} {
    color: $color;
    background: none;
    &::after {
      background: $color;
    }
    &.hover,
    &:hover,
    &:active,
    &:focus {
      color: $font-hover-line;
      background: none;
      &::after {
        background: $color;
      }
    }
  }

  button.link-bg-up.link-#{$name},
  .link-bg-up.link-#{$name} {
    color: $color;
    background: none;
    &::after {
      background: $color;
    }
    &.hover,
    &:hover,
    &:active,
    &:focus {
      color: $font-hover-background;
      background: none;
      &::after {
        background: $color;
      }
    }
  }
}
