// table
table {
  margin: 0 0 $m-spacelement;
  width: 100%;
  tbody tr,
  tfoot tr {
    border-top-width: $m-container-border-width;
    border-top-style: $m-container-border-style;
    border-top-color: $m-container-border-color;
  }
  thead tr th {
    vertical-align: bottom;
  }
  tbody tr td {
    vertical-align: top;
  }
  .tbody-align-middle tr td {
    vertical-align: middle;
  }
  tfoot tr td {
    opacity: .7;
    vertical-align: top;
  }
  thead tr th,
  tbody tr td,
  tfoot tr td {
    padding: $m-spacelement * .25;
    text-align: left;
  }
}

.table-container {
  overflow: auto;
  max-width: 100%;
  width: 100%;
}

.table-striped {
  tbody {
    tr:nth-child(even) {
      background: $m-striped-even;
    }
    tr:nth-child(odd) {
      background: $m-striped-odd;
    }
  }
}

.table-hover {
  tbody {
    tr {
      background: rgba($m-block-hover,0);
      transition: $m-transition;
      &.hover,
      &:hover {
        background: $m-block-hover;
      }
    }
  }
}

.table-box {
  border-width: $m-container-border-width;
  border-style: $m-container-border-style;
  border-color: $m-container-border-color;
  box-shadow: $m-container-shadow;
}
