@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:300,400,700');

$m-background:  		#fff;
$m-color:       		#222;
$m-primary:					#03f;
$m-background:  #222029;
$m-color:       #eee;
$m-primary:			#e73225;

$m-font-family:     'Open Sans', sans-serif;
$m-font-size:       15px;
$m-font-weight:     400;
$m-font-weight:	300;
$m-letter-spacing:  normal;
$m-line-height:     1.5em;

$m-code-family: 		monospace;

$m-h-family: 				'Montserrat', sans-serif;
$m-h-size:   				20px;
$m-h-height: 				1em;
$m-h-spacing:				normal;
$m-h-weight: 				600;
$m-h-style:  				normal;
$m-h-transform:  		normal;

$m-transition:			all 0.3s cubic-bezier(0.465, 0.240, 0.370, 0.825);

// layout
$m-spacelement: 30px;

// box-shadow
$m-shadow:      0 5px 20px 0 rgba(0, 0, 0, 0.1);

// colors
$m-primary:     #0089A2;
$m-secondary:   #2EDCC0;
$m-accent:      #EB6642;

$m-success:     #3c6;
$m-warning:     #fc3;
$m-error:       #f43;
$m-info:        #09c;
$m-muted:       rgba($m-color, .5);

$m-striped-odd: rgba($m-color, .05);
$m-striped-even:rgba($m-color, .15);

$m-colors:
    (primary, $m-primary),
    (secondary, $m-secondary),
    (accent, $m-accent),
    (success, $m-success),
    (warning, $m-warning),
    (error, $m-error),
    (info, $m-info),
    (muted, $m-muted);

$m-btn-colors:
    (primary, $m-primary, lighten($m-primary, 10), #fff, #fff),
    (secondary, $m-secondary, lighten($m-secondary, 10), #fff, #fff),
    (accent, $m-accent, darken($m-accent, 10), #fff, #fff),
    (success, $m-success, darken($m-success, 5), #fff, #fff),
    (warning, $m-warning, darken($m-warning, 10), #fff, #fff),
    (error, $m-error, darken($m-error, 5), #fff, #fff),
    (info, $m-info, darken($m-info, 5), #fff, #fff),
    (muted, $m-muted, darken($m-muted, 10), #fff, #fff);

// links
$m-a-underline:     1px;
$m-a-color:         $m-primary;
$m-a-color-hover:   darken($m-primary, 15);

// tables
$m-table-border:    1px solid rgba($m-color,.2);
$m-table-hover:     rgba($m-color,.2);

// buttons and inputs
$m-input-height:    40px;
$m-input-padding:   7px;

// buttons
$m-btn-background:      $m-primary;
$m-btn-color:           #fff;
$m-btn-border:          1px solid $m-primary;
$m-btn-shadow:          0 1px 10px 0 rgba(0, 0, 0, 0.1);
$m-btn-background-hover:lighten($m-primary, 7);
$m-btn-color-hover:     #fff;
$m-btn-border-hover:    1px solid lighten($m-primary, 5);
$m-btn-shadow-hover:    0 7px 10px 0 rgba(0, 0, 0, 0.3);
$m-btn-border-radius:   $m-input-height;

// forms
$m-input-border:        1px solid rgba($m-color, .5);
$m-input-border-hover:  1px solid $m-color;
$m-input-border-radius: 5px;

$m-input-color-active:  $m-primary;
$m-input-after-active:  #fff;

$m-checkbox-height:     20px;
$m-checkbox-border:     1px solid #ccc;

$m-switch-background-off:   rgba($m-color, .2);
$m-switch-background-on:    $m-input-color-active;
$m-switch-color-off:        rgba($m-background, .9);
$m-switch-color-on:         rgba($m-background, .9);
