@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:300,400,700');

$m-background:  			#fff;
$m-color:       			#222029;
$m-primary:						#ff2d39;
$m-secondary:   			#2a21a5;
$m-accent:      			#2ed7d1;

$m-actn-color: 			  $m-primary;
$m-actn-color-hover:  mix($m-primary, $m-accent, 90%);
$m-actn-font:         $m-background;
$m-actn-font-hover:   $m-background;

$m-actn-border-color:       $m-primary;
$m-actn-border-color-hover: mix($m-primary, $m-accent, 95%);

$m-font-family:     'Open Sans', sans-serif;
$m-font-size:       15px;
$m-font-weight:     400;
$m-letter-spacing:  normal;
$m-line-height:     1.5em;

$m-code-family: 		monospace;

$m-h-family: 				'Montserrat', sans-serif;
$m-h-size:   				20px;
$m-h-height: 				1em;
$m-h-spacing:				normal;
$m-h-weight: 				600;
$m-h-style:  				normal;
$m-h-transform:  		normal;

$m-transition:			all 0.3s cubic-bezier(0.465, 0.240, 0.370, 0.825);

$m-spacelement: 30px;

$m-shadow:      0 0 0 0 rgba(0, 0, 0, 0);

$m-success:       mix(#3c6, $m-primary, 90%);
$m-warning:       mix(#fc3, $m-primary, 90%);
$m-error:         mix(#a00, $m-primary, 90%);
$m-info:          mix(#0cf, $m-primary, 90%);
$m-muted:         mix(#eee, $m-color, 90%);

$m-striped-odd:   rgba($m-color, .05);
$m-striped-even:  rgba($m-color, .1);

$m-block-hover:   rgba($m-secondary, .1);

$m-colors:
  (primary, $m-primary),
  (secondary, $m-secondary),
  (accent, $m-accent),
  (success, $m-success),
  (warning, $m-warning),
  (error, $m-error),
  (info, $m-info),
  (muted, $m-muted);

$m-actn-colors:
  (primary, $m-actn-color, $m-actn-color-hover, $m-actn-font, $m-actn-font-hover, $m-actn-border-color, $m-actn-border-color-hover),
  (secondary, $m-secondary, mix($m-secondary, $m-accent, 80%), $m-background, $m-background, $m-secondary, mix($m-secondary, $m-accent, 75%)),
  (accent, $m-accent, mix($m-accent, $m-primary, 90%), $m-background, $m-background, $m-accent, mix($m-accent, $m-primary, 85%)),
  (success, $m-success, mix($m-success, $m-primary, 90%), $m-background, $m-background, $m-success, mix($m-success, $m-primary, 85%)),
  (warning, $m-warning, mix($m-warning, $m-primary, 85%), $m-background, $m-background, $m-warning, mix($m-warning, $m-primary, 80%)),
  (error, $m-error, mix($m-error, $m-primary, 77%), $m-background, $m-background, $m-error, mix($m-error, $m-primary, 70%)),
  (info, $m-info, mix($m-info, $m-primary, 90%), $m-background, $m-background, $m-info, mix($m-info, $m-primary, 85%)),
  (muted, $m-muted, $m-muted, $m-color, $m-color, $m-muted, $m-muted);

// links
$m-a-underline:     1px;

// tables
$m-table-border:    1px solid rgba($m-color,.1);

// buttons and inputs
$m-input-height:    40px;
$m-input-padding:   7px;

// buttons
$m-btn-shadow:          0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0);
$m-btn-shadow-hover:    0 14px 28px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.1);
$m-btn-border-radius:   $m-input-height;
$m-btn-border-width:    1px;
$m-btn-border-style:    solid;

// forms
$m-input-border:        1px solid rgba($m-color, .3);
$m-input-border-hover:  1px solid rgba($m-color, .5);
$m-input-border-radius: 5px;

$m-input-color-active:  $m-primary;
$m-input-after-active:  $m-background;

$m-checkbox-height:     20px;
$m-checkbox-border:     1px solid rgba($m-color, .2);

$m-switch-background-off:   rgba($m-color, .2);
$m-switch-background-on:    $m-input-color-active;
$m-switch-color-off:        $m-background;
$m-switch-color-on:         $m-background;
