@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|PT+Serif');

// normalize
$m-background:  			#fff;
$m-color:       			#222029;
$m-primary:						#FA7062;

$m-actn-color: 			  $m-primary;
$m-actn-color-hover:  mix($m-primary, $m-background, 80%);
$m-actn-font:         $m-primary;
$m-actn-font-hover:   $m-background;
$m-actn-transition:   all .6s cubic-bezier(0.310, -0.105, 0.430, 1.590);

$m-font-serif: 				'PT Serif', serif;
$m-font-family: 			'Open Sans', sans-serif;
$m-font-size:       	16px;
$m-font-weight:     	400;
$m-letter-spacing:  	normal;
$m-line-height:     	1.5em;

$m-code-family: 			monospace;

$m-h-family: 					'Josefin Sans', sans-serif;
$m-h-size:   					23px;
$m-h-height: 					1em;
$m-h-spacing:					normal;
$m-h-weight: 					600;
$m-h-style:  					normal;
$m-h-transform:  			normal;

// core
$m-primary:						#FA7062;
$m-secondary:   			#FCA4B1;
$m-accent:      			#16729A;

$m-transition:				all 0.3s cubic-bezier(0.465, -0.240, 0.370, 1.125);

$m-link-underline:    1px;

$m-input-height:            40px;
$m-input-padding:           7px;
$m-input-border-width:      1px;
$m-input-border-style:      solid;
$m-input-border-radius:     1px;
$m-input-border-color:      rgba($m-color, .3);
$m-input-border-color-hover:rgba($m-color, .5);

$m-checkbox-height:         20px;
$m-checkbox-border-width:   1px;
$m-checkbox-border-style:   solid;
$m-checkbox-color-active:   $m-primary;
$m-checkbox-after-active:   $m-background;

$m-switch-background-off:   rgba($m-color, .2);
$m-switch-background-on:    $m-checkbox-color-active;
$m-switch-color-off:        $m-background;
$m-switch-color-on:         $m-background;

$m-btn-border-radius:       1px;
$m-btn-border-width:        1px;
$m-btn-border-style:        solid;

$m-actn-border-color:       $m-primary;
$m-actn-border-color-hover: mix($m-primary, $m-accent, 95%);

$m-striped-odd:             rgba($m-color, .05);
$m-striped-even:            rgba($m-color, .1);

$m-block-hover:             rgba($m-secondary, .1);

$m-note:                    mix(#aaa, $m-primary, 90%);

$m-error:                   mix(#f00, $m-primary, 40%);
$m-success:                 mix(#0f0, $m-primary, 50%);
$m-warning:                 mix(#ff0, $m-primary, 40%);
$m-error-hover:             mix(#f00, $m-primary, 50%);
$m-success-hover:           mix(#0f0, $m-primary, 60%);
$m-warning-hover:           mix(#ff0, $m-primary, 60%);

$m-array-colors: //(nombre, fondo, fondo-hover, fuente, fuente-hover, borde, borde-hover)
  (primary, $m-actn-color, $m-actn-color-hover, $m-actn-font, $m-actn-font-hover, $m-actn-border-color, $m-actn-border-color-hover),
  (secondary, $m-secondary, mix($m-secondary, $m-accent, 80%), $m-background, $m-background, $m-secondary, mix($m-secondary, $m-accent, 75%)),
  (accent, $m-accent, mix($m-accent, $m-primary, 90%), $m-background, $m-background, $m-accent, mix($m-accent, $m-primary, 85%)),
  (note, $m-note, darken($m-note, 10), lighten($m-note, 40), lighten($m-note, 80), $m-note, darken($m-note, 15));

$m-button-colors:
//(nombre,    color,          font-hover)
  (primary,   $m-actn-color,  $m-background),
  (secondary, $m-secondary,   $m-background),
  (accent,    $m-accent,      $m-background),
  (note,      $m-note,        $m-background);

$m-link-colors:
//(nombre,    color,          color-hover,                        font-hover-line,  font-hover-background)
  (primary,   $m-actn-color,  $m-actn-color-hover,                $m-color,         $m-background),
  (secondary, $m-secondary,   mix($m-secondary, $m-accent, 80%),  $m-color,         $m-background),
  (accent,    $m-accent,      mix($m-accent, $m-primary, 90%),    $m-color,         $m-background),
  (note,      $m-note,        darken($m-note, 10),                $m-color,         $m-background);

$m-array-form-color-validations:
//(nombre,  color,      color-hover)
  (success, $m-success, $m-success-hover),
  (warning, $m-warning, $m-warning-hover),
  (error,   $m-error,   $m-error-hover);

$m-container-border-color:  rgba($m-color,.1);
$m-container-shadow:        0 0 0 0 rgba(0, 0, 0, 0);

// core and color
$m-container-border-width:  1px;
$m-container-border-style:  solid;

// core and grid
$m-spacelement:             20px;  //margen en formularios, links, tablas y listas del core. espacio de base para margenes del grid.
