body {
  background: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
}

blockquote {
  font-size: 1.2em;
  margin: 0 30px;
  padding: 30px;
  position: relative;
}

blockquote::before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 7em;
  left: -30px;
  opacity: 0.05;
  position: absolute;
  top: 60px;
}

del {
  opacity: 0.5;
}

em {
  font-style: italic;
  font-weight: bold;
}

code,
kbd,
mark,
samp {
  font-family: monospace;
  font-weight: lighter;
  border-radius: 3px;
  margin: 0;
  padding: 3px;
}

code {
  background: #333;
  color: #fff;
}

kbd {
  background: #00f;
  color: #fff;
}

mark {
  background: #ff0;
  color: #333;
}

samp {
  background: #eee;
  color: #00f;
}

var {
  font-family: monospace;
  font-style: italic;
  font-weight: bolder;
}

.word-break-all {
  word-break: break-all;
  hyphens: auto;
}

.word-wrap-break {
  word-wrap: break-word;
  hyphens: auto;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-sm {
  font-size: 12px;
  line-height: 12px;
}

.font-lg {
  font-size: 24px;
  line-height: 24px;
}

.font-lead {
  font-size: 32px;
  line-height: 32px;
}

.font-bold {
  font-weight: bolder;
}

.font-light {
  font-weight: lighter;
}

.font-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.font-primary {
  color: #0089A2;
}

.font-secondary {
  color: #2EDCC0;
}

.font-accent {
  color: #EB6642;
}

.font-success {
  color: #3c6;
}

.font-warning {
  color: #fc3;
}

.font-error {
  color: #f43;
}

.font-info {
  color: #09c;
}

.font-muted {
  color: #ccc;
}

form,
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="button"],
[type="submit"],
[type="reset"],
[type="checkbox"],
[type="radio"],
label,
.label,
select,
.checkbox,
.radio,
.switch,
button,
textarea {
  user-select: none;
  resize: none;
  max-width: 100%;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 1px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 400;
  line-height: 16px;
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
  padding: 10px;
  display: inline-flex;
  align-items: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: calc(100% - 10px * 2 - 2px);
}

[type="date"]:hover, [type="date"]:focus, [type="date"]:active,
[type="datetime"]:hover,
[type="datetime"]:focus,
[type="datetime"]:active,
[type="datetime-local"]:hover,
[type="datetime-local"]:focus,
[type="datetime-local"]:active,
[type="email"]:hover,
[type="email"]:focus,
[type="email"]:active,
[type="file"]:hover,
[type="file"]:focus,
[type="file"]:active,
[type="month"]:hover,
[type="month"]:focus,
[type="month"]:active,
[type="number"]:hover,
[type="number"]:focus,
[type="number"]:active,
[type="password"]:hover,
[type="password"]:focus,
[type="password"]:active,
[type="search"]:hover,
[type="search"]:focus,
[type="search"]:active,
[type="tel"]:hover,
[type="tel"]:focus,
[type="tel"]:active,
[type="text"]:hover,
[type="text"]:focus,
[type="text"]:active,
[type="time"]:hover,
[type="time"]:focus,
[type="time"]:active,
[type="url"]:hover,
[type="url"]:focus,
[type="url"]:active,
[type="week"]:hover,
[type="week"]:focus,
[type="week"]:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active {
  border-color: #0089A2;
}

select {
  height: 40px;
  width: 100%;
}

[type="file"] {
  height: 18px;
}

label,
.label {
  font-size: 12px;
  margin: 15px 0 0;
}

output {
  border-bottom: 1px solid #ccc;
  color: #333;
  align-self: flex-end;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  margin: 0 3px 0 0;
}

[type="checkbox"] + label,
[type="radio"] + label {
  cursor: pointer;
  font-size: 16px;
  margin: 0 30px 0 0;
}

[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  cursor: default;
  opacity: .5;
}

.checkbox,
.radio,
.switch {
  display: inline-flex;
}

.checkbox [type="checkbox"],
.checkbox [type="radio"],
.radio [type="checkbox"],
.radio [type="radio"],
.switch [type="checkbox"],
.switch [type="radio"] {
  display: none;
}

.checkbox [type="checkbox"] + label,
.checkbox [type="radio"] + label,
.radio [type="checkbox"] + label,
.radio [type="radio"] + label,
.switch [type="checkbox"] + label,
.switch [type="radio"] + label {
  position: relative;
}

.checkbox [type="checkbox"] + label::before,
.checkbox [type="radio"] + label::before,
.radio [type="checkbox"] + label::before,
.radio [type="radio"] + label::before,
.switch [type="checkbox"] + label::before,
.switch [type="radio"] + label::before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
}

.checkbox [type="checkbox"] + label::after,
.checkbox [type="radio"] + label::after,
.radio [type="checkbox"] + label::after,
.radio [type="radio"] + label::after,
.switch [type="checkbox"] + label::after,
.switch [type="radio"] + label::after {
  position: absolute;
  content: "";
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
}

.checkbox [type="checkbox"]:checked + label,
.checkbox [type="radio"]:checked + label,
.radio [type="checkbox"]:checked + label,
.radio [type="radio"]:checked + label,
.switch [type="checkbox"]:checked + label,
.switch [type="radio"]:checked + label {
  color: #007389;
}

.checkbox [type="checkbox"]:checked + label::before,
.checkbox [type="radio"]:checked + label::before,
.radio [type="checkbox"]:checked + label::before,
.radio [type="radio"]:checked + label::before,
.switch [type="checkbox"]:checked + label::before,
.switch [type="radio"]:checked + label::before {
  border-color: #0089A2;
}

.checkbox [type="checkbox"]:checked + label::after,
.checkbox [type="radio"]:checked + label::after,
.radio [type="checkbox"]:checked + label::after,
.radio [type="radio"]:checked + label::after,
.switch [type="checkbox"]:checked + label::after,
.switch [type="radio"]:checked + label::after {
  border-color: #0089A2;
}

.checkbox [type="checkbox"] + label,
.checkbox [type="radio"] + label {
  padding-left: 30px;
}

.checkbox [type="checkbox"] + label.empty,
.checkbox [type="radio"] + label.empty {
  margin-right: 9px;
  padding-left: 0;
  height: 20px;
  width: 20px;
}

.checkbox [type="checkbox"] + label::before,
.checkbox [type="radio"] + label::before {
  border: 1px solid #ccc;
  border-radius: 1px;
  height: 20px;
  width: 20px;
}

.checkbox [type="checkbox"] + label::after,
.checkbox [type="radio"] + label::after {
  width: 12px;
  height: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
  top: 6px;
  left: 4px;
}

.checkbox [type="checkbox"]:checked + label::before,
.checkbox [type="radio"]:checked + label::before {
  background: #0089A2;
  border-color: #0089A2;
}

.checkbox [type="checkbox"]:checked + label::after,
.checkbox [type="radio"]:checked + label::after {
  border-color: #fff;
}

.radio [type="checkbox"] + label,
.radio [type="radio"] + label {
  padding-left: 30px;
}

.radio [type="checkbox"] + label.empty,
.radio [type="radio"] + label.empty {
  margin-right: 9px;
  padding-left: 0;
  height: 20px;
  width: 20px;
}

.radio [type="checkbox"] + label::before,
.radio [type="radio"] + label::before {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.radio [type="checkbox"] + label::after,
.radio [type="radio"] + label::after {
  background: transparent;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: 8px;
  left: 8px;
}

.radio [type="radio"]:checked + label::before {
  background: #0089A2;
  border-color: #0089A2;
}

.radio [type="radio"]:checked + label::after {
  background: #fff;
}

.switch [type="checkbox"] + label,
.switch [type="radio"] + label {
  padding-left: 50px;
}

.switch [type="checkbox"] + label.empty,
.switch [type="radio"] + label.empty {
  margin-right: 9px;
  padding-left: 0;
  height: 20px;
  width: 40px;
}

.switch [type="checkbox"] + label::before,
.switch [type="radio"] + label::before {
  background: #eee;
  border-radius: 20px;
  height: 24px;
  width: 44px;
}

.switch [type="checkbox"] + label::after,
.switch [type="radio"] + label::after {
  background: #fff;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  margin: 2px;
  left: 0;
}

.switch [type="checkbox"]:checked + label::before,
.switch [type="radio"]:checked + label::before {
  background: #0089A2;
}

.switch [type="checkbox"]:checked + label::after,
.switch [type="radio"]:checked + label::after {
  background: #fff;
  left: 20px;
}

fieldset {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 1px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  margin: 30px 0;
}

legend {
  padding: 30px;
}

.form-block {
  margin: 15px 0 0;
}

.form-inline {
  display: flex;
  align-items: baseline;
  margin: 15px 0 0;
}

.form-inline label,
.form-inline .label {
  white-space: nowrap;
  margin: 0 15px 0 0;
}

.form-inline [type="date"],
.form-inline [type="datetime"],
.form-inline [type="datetime-local"],
.form-inline [type="email"],
.form-inline [type="file"],
.form-inline [type="month"],
.form-inline [type="number"],
.form-inline [type="password"],
.form-inline [type="search"],
.form-inline [type="tel"],
.form-inline [type="text"],
.form-inline [type="time"],
.form-inline [type="url"],
.form-inline [type="week"],
.form-inline select,
.form-inline output,
.form-inline .file,
.form-inline textarea {
  flex: 1;
}

.form-inline [type="date"]:not(:last-child),
.form-inline [type="datetime"]:not(:last-child),
.form-inline [type="datetime-local"]:not(:last-child),
.form-inline [type="email"]:not(:last-child),
.form-inline [type="file"]:not(:last-child),
.form-inline [type="month"]:not(:last-child),
.form-inline [type="number"]:not(:last-child),
.form-inline [type="password"]:not(:last-child),
.form-inline [type="search"]:not(:last-child),
.form-inline [type="tel"]:not(:last-child),
.form-inline [type="text"]:not(:last-child),
.form-inline [type="time"]:not(:last-child),
.form-inline [type="url"]:not(:last-child),
.form-inline [type="week"]:not(:last-child),
.form-inline select:not(:last-child),
.form-inline output:not(:last-child),
.form-inline .file:not(:last-child),
.form-inline textarea:not(:last-child) {
  margin: 0 30px 0 0;
}

.form-inline span:not(:last-child) {
  margin: 0 30px 0 0;
}

.form-inlineblock {
  display: flex;
  align-items: flex-end;
  margin: 15px 0 0;
}

.form-inlineblock .form-block {
  flex: 1;
}

.form-inlineblock .form-block:not(:last-child) {
  margin: 0 30px 0 0;
}

.form-primary {
  border-color: #0089A2;
  color: #0089A2;
}

.form-primary:hover, .form-primary:focus {
  border-color: #004856;
  color: #004856;
}

.checkbox-primary [type="checkbox"]:checked + label,
.checkbox-primary [type="radio"]:checked + label {
  color: #0089A2;
}

.checkbox-primary [type="checkbox"]:checked + label::before,
.checkbox-primary [type="radio"]:checked + label::before {
  background: #0089A2;
  border-color: #0089A2;
}

.radio-primary [type="checkbox"]:checked + label,
.radio-primary [type="radio"]:checked + label {
  color: #0089A2;
}

.radio-primary [type="checkbox"]:checked + label::before,
.radio-primary [type="radio"]:checked + label::before {
  background: #0089A2;
  border-color: #0089A2;
}

.switch-primary [type="checkbox"]:checked + label,
.switch-primary [type="radio"]:checked + label {
  color: #0089A2;
}

.switch-primary [type="checkbox"]:checked + label::before,
.switch-primary [type="radio"]:checked + label::before {
  background: #0089A2;
  border-color: #0089A2;
}

.form-secondary {
  border-color: #2EDCC0;
  color: #2EDCC0;
}

.form-secondary:hover, .form-secondary:focus {
  border-color: #1ba28d;
  color: #1ba28d;
}

.checkbox-secondary [type="checkbox"]:checked + label,
.checkbox-secondary [type="radio"]:checked + label {
  color: #2EDCC0;
}

.checkbox-secondary [type="checkbox"]:checked + label::before,
.checkbox-secondary [type="radio"]:checked + label::before {
  background: #2EDCC0;
  border-color: #2EDCC0;
}

.radio-secondary [type="checkbox"]:checked + label,
.radio-secondary [type="radio"]:checked + label {
  color: #2EDCC0;
}

.radio-secondary [type="checkbox"]:checked + label::before,
.radio-secondary [type="radio"]:checked + label::before {
  background: #2EDCC0;
  border-color: #2EDCC0;
}

.switch-secondary [type="checkbox"]:checked + label,
.switch-secondary [type="radio"]:checked + label {
  color: #2EDCC0;
}

.switch-secondary [type="checkbox"]:checked + label::before,
.switch-secondary [type="radio"]:checked + label::before {
  background: #2EDCC0;
  border-color: #2EDCC0;
}

.form-accent {
  border-color: #EB6642;
  color: #EB6642;
}

.form-accent:hover, .form-accent:focus {
  border-color: #cb3c15;
  color: #cb3c15;
}

.checkbox-accent [type="checkbox"]:checked + label,
.checkbox-accent [type="radio"]:checked + label {
  color: #EB6642;
}

.checkbox-accent [type="checkbox"]:checked + label::before,
.checkbox-accent [type="radio"]:checked + label::before {
  background: #EB6642;
  border-color: #EB6642;
}

.radio-accent [type="checkbox"]:checked + label,
.radio-accent [type="radio"]:checked + label {
  color: #EB6642;
}

.radio-accent [type="checkbox"]:checked + label::before,
.radio-accent [type="radio"]:checked + label::before {
  background: #EB6642;
  border-color: #EB6642;
}

.switch-accent [type="checkbox"]:checked + label,
.switch-accent [type="radio"]:checked + label {
  color: #EB6642;
}

.switch-accent [type="checkbox"]:checked + label::before,
.switch-accent [type="radio"]:checked + label::before {
  background: #EB6642;
  border-color: #EB6642;
}

.form-success {
  border-color: #3c6;
  color: #3c6;
}

.form-success:hover, .form-success:focus {
  border-color: #248f47;
  color: #248f47;
}

.checkbox-success [type="checkbox"]:checked + label,
.checkbox-success [type="radio"]:checked + label {
  color: #3c6;
}

.checkbox-success [type="checkbox"]:checked + label::before,
.checkbox-success [type="radio"]:checked + label::before {
  background: #3c6;
  border-color: #3c6;
}

.radio-success [type="checkbox"]:checked + label,
.radio-success [type="radio"]:checked + label {
  color: #3c6;
}

.radio-success [type="checkbox"]:checked + label::before,
.radio-success [type="radio"]:checked + label::before {
  background: #3c6;
  border-color: #3c6;
}

.switch-success [type="checkbox"]:checked + label,
.switch-success [type="radio"]:checked + label {
  color: #3c6;
}

.switch-success [type="checkbox"]:checked + label::before,
.switch-success [type="radio"]:checked + label::before {
  background: #3c6;
  border-color: #3c6;
}

.form-warning {
  border-color: #fc3;
  color: #fc3;
}

.form-warning:hover, .form-warning:focus {
  border-color: #e6ac00;
  color: #e6ac00;
}

.checkbox-warning [type="checkbox"]:checked + label,
.checkbox-warning [type="radio"]:checked + label {
  color: #fc3;
}

.checkbox-warning [type="checkbox"]:checked + label::before,
.checkbox-warning [type="radio"]:checked + label::before {
  background: #fc3;
  border-color: #fc3;
}

.radio-warning [type="checkbox"]:checked + label,
.radio-warning [type="radio"]:checked + label {
  color: #fc3;
}

.radio-warning [type="checkbox"]:checked + label::before,
.radio-warning [type="radio"]:checked + label::before {
  background: #fc3;
  border-color: #fc3;
}

.switch-warning [type="checkbox"]:checked + label,
.switch-warning [type="radio"]:checked + label {
  color: #fc3;
}

.switch-warning [type="checkbox"]:checked + label::before,
.switch-warning [type="radio"]:checked + label::before {
  background: #fc3;
  border-color: #fc3;
}

.form-error {
  border-color: #f43;
  color: #f43;
}

.form-error:hover, .form-error:focus {
  border-color: #e61300;
  color: #e61300;
}

.checkbox-error [type="checkbox"]:checked + label,
.checkbox-error [type="radio"]:checked + label {
  color: #f43;
}

.checkbox-error [type="checkbox"]:checked + label::before,
.checkbox-error [type="radio"]:checked + label::before {
  background: #f43;
  border-color: #f43;
}

.radio-error [type="checkbox"]:checked + label,
.radio-error [type="radio"]:checked + label {
  color: #f43;
}

.radio-error [type="checkbox"]:checked + label::before,
.radio-error [type="radio"]:checked + label::before {
  background: #f43;
  border-color: #f43;
}

.switch-error [type="checkbox"]:checked + label,
.switch-error [type="radio"]:checked + label {
  color: #f43;
}

.switch-error [type="checkbox"]:checked + label::before,
.switch-error [type="radio"]:checked + label::before {
  background: #f43;
  border-color: #f43;
}

.form-info {
  border-color: #09c;
  color: #09c;
}

.form-info:hover, .form-info:focus {
  border-color: #006080;
  color: #006080;
}

.checkbox-info [type="checkbox"]:checked + label,
.checkbox-info [type="radio"]:checked + label {
  color: #09c;
}

.checkbox-info [type="checkbox"]:checked + label::before,
.checkbox-info [type="radio"]:checked + label::before {
  background: #09c;
  border-color: #09c;
}

.radio-info [type="checkbox"]:checked + label,
.radio-info [type="radio"]:checked + label {
  color: #09c;
}

.radio-info [type="checkbox"]:checked + label::before,
.radio-info [type="radio"]:checked + label::before {
  background: #09c;
  border-color: #09c;
}

.switch-info [type="checkbox"]:checked + label,
.switch-info [type="radio"]:checked + label {
  color: #09c;
}

.switch-info [type="checkbox"]:checked + label::before,
.switch-info [type="radio"]:checked + label::before {
  background: #09c;
  border-color: #09c;
}

.form-muted {
  border-color: #ccc;
  color: #ccc;
}

.form-muted:hover, .form-muted:focus {
  border-color: #a6a6a6;
  color: #a6a6a6;
}

.checkbox-muted [type="checkbox"]:checked + label,
.checkbox-muted [type="radio"]:checked + label {
  color: #ccc;
}

.checkbox-muted [type="checkbox"]:checked + label::before,
.checkbox-muted [type="radio"]:checked + label::before {
  background: #ccc;
  border-color: #ccc;
}

.radio-muted [type="checkbox"]:checked + label,
.radio-muted [type="radio"]:checked + label {
  color: #ccc;
}

.radio-muted [type="checkbox"]:checked + label::before,
.radio-muted [type="radio"]:checked + label::before {
  background: #ccc;
  border-color: #ccc;
}

.switch-muted [type="checkbox"]:checked + label,
.switch-muted [type="radio"]:checked + label {
  color: #ccc;
}

.switch-muted [type="checkbox"]:checked + label::before,
.switch-muted [type="radio"]:checked + label::before {
  background: #ccc;
  border-color: #ccc;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[hidden], input.hidden,
.checkbox[hidden],
.checkbox.hidden,
.radio[hidden],
.radio.hidden,
.switch[hidden],
.switch.hidden,
textarea[hidden],
textarea.hidden,
select[hidden],
select.hidden,
label[hidden],
label.hidden,
.label[hidden],
.label.hidden,
output[hidden],
output.hidden,
fieldset[hidden],
fieldset.hidden,
legend[hidden],
legend.hidden,
form[hidden],
form.hidden,
.form-block[hidden],
.form-block.hidden,
.form-inline[hidden],
.form-inline.hidden,
.form-inlineblock[hidden],
.form-inlineblock.hidden {
  display: none;
}

::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

::-moz-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

:-moz-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1em;
}

h1,
.h1 {
  font-size: 54px;
}

h2,
.h2 {
  font-size: 45px;
}

h3,
.h3 {
  font-size: 36px;
}

h4,
.h4 {
  font-size: 25.2px;
}

h5,
.h5 {
  font-size: 21.6px;
}

h6,
.h6 {
  font-size: 18px;
}

.sub-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sub-title + * {
  margin-top: 0;
  padding-top: 0;
}

.img-link {
  max-height: 16px;
  vertical-align: baseline;
}

.img-btn {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 40px;
}

.img-btn + * {
  margin: 0 15px 0 10px;
}

.img-btn-sm {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 40px;
}

.img-btn-sm + * {
  margin: 0 10px;
}

.img-btn-lg {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 40px;
}

.img-btn-lg + * {
  margin: 0 30px 0 10px;
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-fill {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.img-fill-height {
  height: 100%;
  object-fit: fill;
}

.img-fill-width {
  width: 100%;
  object-fit: fill;
}

.img-contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a,
.link {
  color: #0089A2;
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

a:hover, a:focus,
.link:hover,
.link:focus {
  color: #004856;
  background: transparent;
  border: none;
  box-shadow: none;
  text-decoration: none;
}

a[hidden], a.hidden,
.link[hidden],
.link.hidden {
  display: none;
}

a:not(.btn):not(.link-clean)::after,
.link:not(.btn):not(.link-clean)::after {
  background: #0089A2;
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
}

a:not(.btn):not(.link-clean):hover::after, a:not(.btn):not(.link-clean):focus::after,
.link:not(.btn):not(.link-clean):hover::after,
.link:not(.btn):not(.link-clean):focus::after {
  background: #004856;
  left: 0;
  width: 100%;
}

.link-sm {
  font-size: 12px;
  line-height: 24px 0.75;
}

.link-lg {
  font-size: 24px;
  line-height: 36px;
}

.link-lead {
  font-size: 32px;
  line-height: 48px;
}

.link-block {
  display: block;
}

.link-primary {
  color: #0089A2;
}

.link-primary:hover, .link-primary:focus {
  color: #005e6f;
}

.link-primary:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-primary:not(.link-clean):not(.btn):hover::after, .link-primary:not(.link-clean):not(.btn):focus::after {
  background: #005e6f;
}

.link-secondary {
  color: #2EDCC0;
}

.link-secondary:hover, .link-secondary:focus {
  color: #1fb89f;
}

.link-secondary:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-secondary:not(.link-clean):not(.btn):hover::after, .link-secondary:not(.link-clean):not(.btn):focus::after {
  background: #1fb89f;
}

.link-accent {
  color: #EB6642;
}

.link-accent:hover, .link-accent:focus {
  color: #e24318;
}

.link-accent:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-accent:not(.link-clean):not(.btn):hover::after, .link-accent:not(.link-clean):not(.btn):focus::after {
  background: #e24318;
}

.link-success {
  color: #3c6;
}

.link-success:hover, .link-success:focus {
  color: #29a352;
}

.link-success:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-success:not(.link-clean):not(.btn):hover::after, .link-success:not(.link-clean):not(.btn):focus::after {
  background: #29a352;
}

.link-warning {
  color: #fc3;
}

.link-warning:hover, .link-warning:focus {
  color: #ffbf00;
}

.link-warning:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-warning:not(.link-clean):not(.btn):hover::after, .link-warning:not(.link-clean):not(.btn):focus::after {
  background: #ffbf00;
}

.link-error {
  color: #f43;
}

.link-error:hover, .link-error:focus {
  color: #ff1500;
}

.link-error:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-error:not(.link-clean):not(.btn):hover::after, .link-error:not(.link-clean):not(.btn):focus::after {
  background: #ff1500;
}

.link-info {
  color: #09c;
}

.link-info:hover, .link-info:focus {
  color: #007399;
}

.link-info:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-info:not(.link-clean):not(.btn):hover::after, .link-info:not(.link-clean):not(.btn):focus::after {
  background: #007399;
}

.link-muted {
  color: #ccc;
}

.link-muted:hover, .link-muted:focus {
  color: #b3b3b3;
}

.link-muted:not(.link-clean):not(.btn)::after {
  background: white;
}

.link-muted:not(.link-clean):not(.btn):hover::after, .link-muted:not(.link-clean):not(.btn):focus::after {
  background: #b3b3b3;
}

ul,
ol {
  list-style-position: inside;
  margin: 0 0 30px;
  padding: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 0 0 15px;
}

dl {
  display: block;
  margin: 0 0 30px;
  padding: 0;
}

dl dt {
  display: block;
  font-size: .7em;
  font-weight: bolder;
  text-transform: uppercase;
}

dl dd {
  display: block;
  margin: 0 0 7.5px;
  padding: 0;
}

.list-clean {
  list-style: none;
}

.list-striped > li:nth-child(even) {
  background: #fff;
}

.list-striped > li:nth-child(odd) {
  background: #eee;
}

.list-striped > dt {
  padding: 7.5px 15px 0;
}

.list-striped > dd {
  margin: 0;
  padding: 0 15px 7.5px;
}

.list-striped > dt:nth-of-type(odd) {
  background: #eee;
}

.list-striped > dd:nth-of-type(odd) {
  background: #eee;
}

.list-striped > dt:nth-of-type(even) {
  background: #fff;
}

.list-striped > dd:nth-of-type(even) {
  background: #fff;
}

.list-inline {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.list-inline > li {
  display: inline-flex;
  margin: 0;
}

.list-inline > li:not(:last-child) {
  margin-right: 15px;
}

.list-inline > dt {
  display: inline-flex;
  margin: 0 7.5px 0 0;
}

.list-inline > dd {
  display: inline-flex;
  margin: 0 30px 0 0;
}

table {
  margin: 0 0 30px;
  width: 100%;
}

table thead tr,
table tbody tr,
table tfoot tr {
  border-top: 1px solid #ddd;
}

table thead tr th {
  vertical-align: bottom;
}

table tbody tr td {
  vertical-align: top;
}

table .tbody-align-middle tr td {
  vertical-align: middle;
}

table tfoot tr td {
  opacity: .7;
  vertical-align: middle;
}

table thead tr th,
table tbody tr td,
table tfoot tr td {
  padding: 15px;
  text-align: left;
}

.table-container {
  overflow: auto;
  max-width: 100%;
  width: 100%;
}

.table-striped tbody tr:nth-child(even) {
  background: #fff;
}

.table-striped tbody tr:nth-child(odd) {
  background: #eee;
}

.table-hover tbody tr {
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
}

.table-hover tbody tr:hover {
  background: rgba(221, 221, 221, 0.3);
  border-left: 9px solid #ddd;
}

.table-box {
  border: 1px solid #ddd;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
  background: #0089A2;
  border: 1px solid #0089A2;
  border-radius: 40px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px 15px;
  transition: all 0.3s cubic-bezier(0.465, 0.24, 0.37, 0.825);
  cursor: pointer;
  display: inline-flex;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  align-items: center;
  justify-content: center;
  line-height: 1.2em;
  font-size: 16px;
}

button:active, button:hover, button:focus,
input[type="button"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
.btn:active,
.btn:hover,
.btn:focus {
  background: #00a7c6;
  border: 1px solid #009fbc;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}

button[hidden], button.hidden,
input[type="button"][hidden],
input[type="button"].hidden,
input[type="submit"][hidden],
input[type="submit"].hidden,
input[type="reset"][hidden],
input[type="reset"].hidden,
.btn[hidden],
.btn.hidden {
  display: none;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-lg {
  font-size: 24px;
  padding: 20px 40px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-circle {
  border-radius: 50%;
  padding: 0;
  height: 40px;
  width: 40px;
}

.btn-circle-sm {
  border-radius: 50%;
  font-size: 12px;
  padding: 0;
  height: 30px;
  width: 30px;
}

.btn-circle-lg {
  border-radius: 50%;
  font-size: 24px;
  padding: 0;
  height: 60px;
  width: 60px;
}

.btn-img {
  padding: 0;
}

.btn-primary {
  background: #0089A2;
  border-color: #0089A2;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
  background: #00b4d5;
  border-color: #00b4d5;
  color: #fff;
}

.btn-primary-line {
  background: transparent;
  box-shadow: none;
  border-color: #0089A2;
  color: #0089A2;
}

.btn-primary-line:hover, .btn-primary-line:focus {
  background: #00b4d5;
  border-color: #00b4d5;
  box-shadow: none;
  color: #fff;
}

.btn-secondary {
  background: #2EDCC0;
  border-color: #2EDCC0;
  color: #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  background: #5ae3cd;
  border-color: #5ae3cd;
  color: #fff;
}

.btn-secondary-line {
  background: transparent;
  box-shadow: none;
  border-color: #2EDCC0;
  color: #2EDCC0;
}

.btn-secondary-line:hover, .btn-secondary-line:focus {
  background: #5ae3cd;
  border-color: #5ae3cd;
  box-shadow: none;
  color: #fff;
}

.btn-accent {
  background: #EB6642;
  border-color: #EB6642;
  color: #fff;
}

.btn-accent:hover, .btn-accent:focus {
  background: #e24318;
  border-color: #e24318;
  color: #fff;
}

.btn-accent-line {
  background: transparent;
  box-shadow: none;
  border-color: #EB6642;
  color: #EB6642;
}

.btn-accent-line:hover, .btn-accent-line:focus {
  background: #e24318;
  border-color: #e24318;
  box-shadow: none;
  color: #fff;
}

.btn-success {
  background: #3c6;
  border-color: #3c6;
  color: #fff;
}

.btn-success:hover, .btn-success:focus {
  background: #2eb85c;
  border-color: #2eb85c;
  color: #fff;
}

.btn-success-line {
  background: transparent;
  box-shadow: none;
  border-color: #3c6;
  color: #3c6;
}

.btn-success-line:hover, .btn-success-line:focus {
  background: #2eb85c;
  border-color: #2eb85c;
  box-shadow: none;
  color: #fff;
}

.btn-warning {
  background: #fc3;
  border-color: #fc3;
  color: #fff;
}

.btn-warning:hover, .btn-warning:focus {
  background: #ffbf00;
  border-color: #ffbf00;
  color: #fff;
}

.btn-warning-line {
  background: transparent;
  box-shadow: none;
  border-color: #fc3;
  color: #fc3;
}

.btn-warning-line:hover, .btn-warning-line:focus {
  background: #ffbf00;
  border-color: #ffbf00;
  box-shadow: none;
  color: #fff;
}

.btn-error {
  background: #f43;
  border-color: #f43;
  color: #fff;
}

.btn-error:hover, .btn-error:focus {
  background: #ff2d1a;
  border-color: #ff2d1a;
  color: #fff;
}

.btn-error-line {
  background: transparent;
  box-shadow: none;
  border-color: #f43;
  color: #f43;
}

.btn-error-line:hover, .btn-error-line:focus {
  background: #ff2d1a;
  border-color: #ff2d1a;
  box-shadow: none;
  color: #fff;
}

.btn-info {
  background: #09c;
  border-color: #09c;
  color: #fff;
}

.btn-info:hover, .btn-info:focus {
  background: #0086b3;
  border-color: #0086b3;
  color: #fff;
}

.btn-info-line {
  background: transparent;
  box-shadow: none;
  border-color: #09c;
  color: #09c;
}

.btn-info-line:hover, .btn-info-line:focus {
  background: #0086b3;
  border-color: #0086b3;
  box-shadow: none;
  color: #fff;
}

.btn-muted {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
}

.btn-muted:hover, .btn-muted:focus {
  background: #b3b3b3;
  border-color: #b3b3b3;
  color: #fff;
}

.btn-muted-line {
  background: transparent;
  box-shadow: none;
  border-color: #ccc;
  color: #ccc;
}

.btn-muted-line:hover, .btn-muted-line:focus {
  background: #b3b3b3;
  border-color: #b3b3b3;
  box-shadow: none;
  color: #fff;
}
