/* button */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
    //color
    background: $color-primary;
    border-color: $color-primary;
    box-shadow: $btn-box-shadow;
    color: $color-font-primary;
    //border
    border-style: $btn-border-style;
    border-width: $btn-border-width;
    border-radius: $btn-border-radius;
    //font
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $font-space;
    font-weight: $font-weight;
    //layout
    line-height: $font-size;
    margin: $form-margin-y 0;
    padding: $form-padding $form-padding * 2;
    //default
    cursor: pointer;
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.5s cubic-bezier(0.465, 0.240, 0.370, 0.825);

    &:active,
    &:hover,
    &:focus {
        background: lighten($color-primary, 5);
        border-color: $color-primary;
        box-shadow: $btn-box-shadow-hover;
        color: $color-font-primary;
        text-decoration: none;
    }

    &[disabled],
    &.disabled {
        &:active,
        &:hover,
        &:focus {
            background: $color-primary;
            border-color: $color-primary;
            box-shadow: $btn-box-shadow;
            color: $color-font-primary;
            cursor: default;
            text-decoration: none;
        }
    }
}

// sizes
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
    &.btn-sm {
        font-size: $font-size * .75;
        line-height: $font-size * .75;
        padding: $form-padding * .3 $form-padding * .75;
    }
    &.btn-lg {
        font-size: $font-size * 1.5;
        line-height: $font-size * 1.5;
        padding: $form-padding * 1.5 $form-padding * 5;
    }
    &.btn-block {
        width: 100%;
    }
}

// colors
@each $name, $color, $font in $c {
    .btn-#{$name} {
        background: $color;
        border-color: $color;
        color: $font;

        &:hover,
        &:focus {
            background: lighten($color, 5);
            border-color: $color;
            color: $font;
        }

        &[disabled],
        &.disabled {
            &:active,
            &:hover,
            &:focus {
                background: $color;
                border-color: $color;
                color: $font;
            }
        }
    }

    .btn-line-#{$name} {
        background: transparent;
        box-shadow: none;
        border-color: $color;
        color: $color;

        &:hover,
        &:focus {
            background: rgba($color, .3);
            box-shadow: none;
            border-color: $color;
            color: $color;
        }

        &[disabled],
        &.disabled {
            &:active,
            &:focus,
            &:hover {
                background: transparent;
                box-shadow: none;
                border-color: $color;
                color: $color;
            }
        }
    }
}
