/* button */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: $form-border-radius;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 0 0 0 rgba(0,0,0,0.19);
    color: $color-font-primary;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $font-space;
    line-height: $font-size;
    margin: $form-margin-y 0;
    padding: $form-padding $form-padding * 2;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.5s cubic-bezier(0.465, 0.240, 0.370, 0.825);

    &:hover,
    &:focus {
        background: lighten($color-primary, 5);
        border: 1px solid $color-primary;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        color: $color-font-primary;
        text-decoration: none;
    }

    &:active {
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.1);
    }

    &[disabled],
    &[disabled]:active,
    &[disabled]:focus,
    &[disabled]:hover,
    &.disabled,
    &.disabled:active,
    &.disabled:focus,
    &.disabled:hover {
        &:hover,
        &:focus {
            background: $color-primary;
            border: 1px solid $color-primary;
            box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 0 0 0 rgba(0,0,0,0.19);
            color: $color-font-primary;
        }
    }

    &.btn-sm {
        font-size: $font-size * .75;
        line-height: $font-size * .75;
        padding: $form-padding * .3 $form-padding * .75;
    }
    &.btn-lg {
        font-size: $font-size * 1.5;
        line-height: $font-size * 1.5;
        padding: $form-padding * 1.5 $form-padding * 5;
    }

    &.btn-block {
        width: 100%;
    }

}


// colors
@each $name, $color, $font in $c {
    .btn-#{$name} {
        background: $color;
        border: 1px solid $color;
        color: $font;

        &:hover,
        &:focus {
            background: lighten($color, 5);
            border: 1px solid $color;
            color: $font;
            text-decoration: none;
        }

        &[disabled],
        &[disabled]:active,
        &[disabled]:focus,
        &[disabled]:hover,
        &.disabled,
        &.disabled:active,
        &.disabled:focus,
        &.disabled:hover {
            &:hover,
            &:focus {
                background: $color;
                border: 1px solid $color;
                color: $font;
            }
        }
    }

    .btn-line-#{$name} {
        background: transparent;
        box-shadow: none;
        border: 1px solid $color;
        color: $color;

        &:hover,
        &:focus {
            background: rgba($color, .3);
            box-shadow: none;
            border: 1px solid $color;
            color: $color;
            text-decoration: none;
        }

        &[disabled],
        &[disabled]:active,
        &[disabled]:focus,
        &[disabled]:hover,
        &.disabled,
        &.disabled:active,
        &.disabled:focus,
        &.disabled:hover {
            &:hover,
            &:focus {
                background: transparent;
                border: 1px solid $color;
                color: $color;
            }
        }
    }
}
