/* button */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
    background: $color-primary;
    border: none;
    color: mix($color-font, $color-primary, 60%);
    cursor: pointer;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $font-space;
    line-height: $font-line;
    margin: 2.1px 0;
    padding: $font-size/4 $font-size;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
    height: $form-height;
    vertical-align: middle;
    transition: all 0.5s cubic-bezier(0.465, 0.240, 0.370, 0.825);

    &:hover,
    &:focus {
        background: mix($color-font, $color-primary, 30%);
        color:  mix($color-background, $color-primary, 90%);
        text-decoration: none;
    }
}
