/* colors */
body {
    background: $color-background;
    color: $color-font;
}

// text
@each $name, $color, $font in $colors {
    .text-#{$name} {
        color: $color;
    }
}

// background
@each $name, $color, $font in $colors {
    .background-#{$name} {
        background: $color;
    }

    .background-color-#{$name} {
        background: $color;
        color: $font;
    }
}
