/* colors */
body {
    background: $color-main-bg;
    color: $color-main-font;
}

@each $name, $color, $font in $colors {
    .background-#{$name} {
        background: $color;
    }

    .text-#{$name} {
        color: $color;
    }

    .background-text-#{$name} {
        background: $color;
        color: $font;
    }
}
