/* containers */
.main {
    max-width: 100vw;
    overflow-x: hidden;
    width: 100%;
}

.page {
    min-height: 100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width-mobile;
    width: $container-width-mobile;
}
    @media screen and (min-width: $tablet) {
        .container {
            max-width: $container-max-width-tablet;
            width: $container-width-tablet;
        }
    }
    @media screen and (min-width: $desktop) {
        .container {
            max-width: $container-max-width-desktop;
            width: $container-width-desktop;
        }
    }

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .layout-content {
        flex: 1;
    }
}

// overflow
.off {
    overflow: hidden;
}
.off-x {
    overflow-x: hidden;
}
.off-y {
    overflow-y: hidden;
}
