/* heading */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-title-family;
    font-weight: $font-title-weight;
    letter-spacing: $font-title-space;
    line-height: $font-title-line;
    font-style: $font-title-style;
}

h1,
.h1 {
    font-size: 5em;
}
h2,
.h2 {
    font-size: 3em;
}
h3,
.h3 {
    font-size: 2em;
}
h4,
.h4 {
    font-size: 1.4em;
}
h5,
.h5 {
    font-size: 1.2em;
}
h6,
.h6 {
    font-size: 1em;
}

.sub-title {
    margin-bottom: 0;
    padding-bottom: 0;
}
.sub-title + * {
    margin-top: 0;
    padding-top: 0;
}

.title-underline {
    display: block;
    box-shadow: inset 0 (-$font-title-line-weight) 0 rgba($color-font,0.2);
    padding-bottom: 0;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        box-shadow: inset 0 (-$font-title-line-weight) 0 $color-font;
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 3px;
    }
}

.title-leftline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        display: block;
        padding-left: 10px;
    }
    &:before {
        background: $color-font;
        display: block;
        content: "";
        height: $font-title-line-weight;
        width: $font-title-line-width;
    }
}

.title-rightline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        display: block;
        padding-right: 10px;
    }
    &:after {
        background: $color-font;
        display: block;
        content: "";
        height: $font-title-line-weight;
        width: $font-title-line-width;
    }
}

.title-topline {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        &:before {
            background: $color-font;
            display: block;
            content: "";
            height: $font-title-line-weight;
            width: $font-title-line-width;
            margin-bottom: 5px;
        }
    }

}

.title-bottomline {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        &:after {
            background: $color-font;
            display: block;
            content: "";
            height: $font-title-line-weight;
            width: $font-title-line-width;
            margin-top: 5px;
        }
    }
}
