/* heading */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-title-family;
    font-weight: $font-title-weight;
    letter-spacing: $font-title-space;
    line-height: $font-title-line;
    font-style: $font-title-style;
}

h1,
.h1 {
    font-size: 4em;
}
h2,
.h2 {
    font-size: 3em;
}
h3,
.h3 {
    font-size: 2em;
}
h4,
.h4 {
    font-size: 1.4em;
}
h5,
.h5 {
    font-size: 1.2em;
}
h6,
.h6 {
    font-size: 1em;
}

.sub-title {
    margin-bottom: 0;
    padding-bottom: 0;
}
.sub-title + * {
    margin-top: 0;
    padding-top: 0;
}

.title-leftline {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:before {
        background: $color-font;
        display: block;
        content: "";
        height: $font-title-line-weight;
        width: $font-title-line-width;
        margin-right: 10px;
    }
}

.title-rightline {
    display: flex;
    align-items: center;

    &:after {
        background: $color-font;
        display: block;
        content: "";
        height: $font-title-line-weight;
        width: $font-title-line-width;
        margin-left: 10px;
    }
}

.title-topline {
    &:before {
        background: $color-font;
        display: block;
        content: "";
        height: $font-title-line-weight;
        width: $font-title-line-width;
        margin-bottom: 5px;
    }
}

.title-bottomline {
    &:after {
        background: $color-font;
        display: block;
        content: "";
        height: $font-title-line-weight;
        width: $font-title-line-width;
        margin-top: 5px;
    }
}

// colors
@each $name, $color, $font in $colors {
    .heading-#{$name} {
        color: $color;
        &::after {
            background: $color;
        }
        &::before {
            background: $color;
        }
    }
}
