/* list */
ul,
ol {
    list-style-position: inside;
    margin: $element-space 0 $element-space * 2;
    padding: 0;

    ul,
    ol {
        margin: 0 0 0 $element-space;
    }
}

dl {
    display: block;
    margin: $element-space 0;
    padding: 0;
    dt {
        display: block;
        font-size: .7em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    dd {
        display: block;
        font-size: 1em;
        margin: 0 0 $element-space * .4;
        padding: 0;
    }
}

ul.list-clean,
ol.list-clean,
dl.list-clean {
    list-style: none;
    margin: 0;
}

ul.list-inline,
ol.list-inline, {
    list-style: none;
    > li {
        display: inline-block;
        float: left;
        margin: 0;
        &:not(:last-child) {
            margin-right: $element-space;
        }
    }

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

dl.list-inline {
    dt {
        display: inline-block;
        margin: 0 $element-space * .4 0 0;
    }
    dd {
        display: inline-block;
        margin: 0 $element-space 0 0;
    }
}
