/* link */
a,
.link {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $color-primary;
    cursor: pointer;
    display: inline-block;
    font-family: $font-link-family;
    font-size: $font-size;
    font-weight: $font-link-weight;
    letter-spacing: $font-link-space;
    line-height: $font-line;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.465, 0.240, 0.370, 0.825);

    &:hover,
    &:focus {
        background: transparent;
        border: none;
        box-shadow: none;
        color: mix($color-font, $color-primary, 30%);
        text-decoration: underline;
        text-decoration-skip: ink;
    }
}

// sizes
a,
.link {
    &.link-sm {
        font-size: $font-size * .75;
        line-height: $font-size * .75;
    }
    &.link-lg {
        font-size: $font-size * 1.5;
        line-height: $font-size * 1.5;
    }
    &.link-block {
        width: 100%;
    }
}

// colors
@each $name, $color, $font in $colors {
    .link-#{$name} {
        color: $color;

        &:hover,
        &:focus {
            color: mix($color, $color-primary, 80%);
        }
    }
}
