/* list */
ul,
ol {
    list-style-position: inside;
    margin: $element-space 0 $element-space * 2;
    padding: 0;
}

ul.list-clean,
ol.list-clean {
    list-style: none;
}

ul.list-inline,
ol.list-inline, {
    list-style: none;
    > li {
        display: inline-block;
        float: left;
        margin: 0;
        &:not(:last-child) {
            margin-right: $element-space;
        }
    }
}

dl {
    display: block;
    margin: $element-space 0;
    padding: 0;
    dt {
        display: block;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
    dd {
        display: block;
        font-size: 0.9em;
        margin: 0 0 $element-space * .4;
        padding: 0;
    }
}
