/* list */
ul,
ol {
    list-style-position: inside;
    margin: $element-space-mobile 0 $element-space-mobile * 2;
    padding: 0;

    ul,
    ol {
        margin: 0 0 0 $element-space-mobile;
    }
}

dl {
    display: block;
    margin: $element-space-mobile 0;
    padding: 0;
    dt {
        display: block;
        font-size: .7em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    dd {
        display: block;
        font-size: 1em;
        margin: 0 0 $element-space-mobile * .4;
        padding: 0;
    }
}

ul.list-clean,
ol.list-clean,
dl.list-clean {
    list-style: none;
    margin: 0;
}

ul.list-inline,
ol.list-inline, {
    list-style: none;
    > li {
        display: inline-block;
        float: left;
        margin: 0;
        &:not(:last-child) {
            margin-right: $element-space-mobile;
        }
    }

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

dl.list-inline {
    dt {
        display: inline-block;
        margin: 0 $element-space-mobile * .4 0 0;
    }
    dd {
        display: inline-block;
        margin: 0 $element-space-mobile 0 0;
    }
}

@media screen and (min-width: $tablet) {
    ul,
    ol {
        margin: $element-space-tablet 0 $element-space-tablet * 2;
        ul,
        ol {
            margin: 0 0 0 $element-space-tablet;
        }
    }

    dl {
        margin: $element-space-tablet 0;
        dd {
            margin: 0 0 $element-space-tablet * .4;
        }
    }
    ul.list-inline,
    ol.list-inline, {
        > li {
            &:not(:last-child) {
                margin-right: $element-space-tablet;
            }
        }
    }
    dl.list-inline {
        dt {
            margin: 0 $element-space-tablet * .4 0 0;
        }
        dd {
            margin: 0 $element-space-tablet 0 0;
        }
    }
}
@media screen and (min-width: $desktop) {
    ul,
    ol {
        margin: $element-space-desktop 0 $element-space-desktop * 2;
        ul,
        ol {
            margin: 0 0 0 $element-space-desktop;
        }
    }

    dl {
        margin: $element-space-desktop 0;
        dd {
            margin: 0 0 $element-space-desktop * .4;
        }
    }
    ul.list-inline,
    ol.list-inline, {
        > li {
            &:not(:last-child) {
                margin-right: $element-space-desktop;
            }
        }
    }
    dl.list-inline {
        dt {
            margin: 0 $element-space-desktop * .4 0 0;
        }
        dd {
            margin: 0 $element-space-desktop 0 0;
        }
    }
}
