/* margins */
@for $i from 0 through 5 {
    .m-#{$i} {
        margin: $layout-space-mobile * $i;
    }
    .m-x-#{$i} {
        margin-left: $layout-space-mobile * $i;
        margin-right: $layout-space-mobile * $i;
    }
    .m-y-#{$i} {
        margin-top: $layout-space-mobile * $i;
        margin-bottom: $layout-space-mobile * $i;
    }
    .m-l-#{$i} {
        margin-left: $layout-space-mobile * $i;
    }
    .m-r-#{$i} {
        margin-right: $layout-space-mobile * $i;
    }
    .m-t-#{$i} {
        margin-top: $layout-space-mobile * $i;
    }
    .m-b-#{$i} {
        margin-bottom: $layout-space-mobile * $i;
    }
    .m--l-#{$i} {
        margin-left: -($layout-space-mobile) * $i;
    }
    .m--r-#{$i} {
        margin-right: -($layout-space-mobile) * $i;
    }
    .m--t-#{$i} {
        margin-top: -($layout-space-mobile) * $i;
    }
    .m--b-#{$i} {
        margin-bottom: -($layout-space-mobile) * $i;
    }
    .p-#{$i} {
        padding: $layout-space-mobile * $i;
    }
    .p-x-#{$i} {
        padding-left: $layout-space-mobile * $i;
        padding-right: $layout-space-mobile * $i;
    }
    .p-y-#{$i} {
        padding-top: $layout-space-mobile * $i;
        padding-bottom: $layout-space-mobile * $i;
    }
    .p-l-#{$i} {
        padding-left: $layout-space-mobile * $i;
    }
    .p-r-#{$i} {
        padding-right: $layout-space-mobile * $i;
    }
    .p-t-#{$i} {
        padding-top: $layout-space-mobile * $i;
    }
    .p-b-#{$i} {
        padding-bottom: $layout-space-mobile * $i;
    }

    @media screen and (min-width: $tablet) {
        .m-#{$i} {
            margin: $layout-space-tablet * $i;
        }
        .m-x-#{$i} {
            margin-left: $layout-space-tablet * $i;
            margin-right: $layout-space-tablet * $i;
        }
        .m-y-#{$i} {
            margin-top: $layout-space-tablet * $i;
            margin-bottom: $layout-space-tablet * $i;
        }
        .m-l-#{$i} {
            margin-left: $layout-space-tablet * $i;
        }
        .m-r-#{$i} {
            margin-right: $layout-space-tablet * $i;
        }
        .m-t-#{$i} {
            margin-top: $layout-space-tablet * $i;
        }
        .m-b-#{$i} {
            margin-bottom: $layout-space-tablet * $i;
        }
        .m--l-#{$i} {
            margin-left: -($layout-space-tablet) * $i;
        }
        .m--r-#{$i} {
            margin-right: -($layout-space-tablet) * $i;
        }
        .m--t-#{$i} {
            margin-top: -($layout-space-tablet) * $i;
        }
        .m--b-#{$i} {
            margin-bottom: -($layout-space-tablet) * $i;
        }
        .p-#{$i} {
            padding: $layout-space-tablet * $i;
        }
        .p-x-#{$i} {
            padding-left: $layout-space-tablet * $i;
            padding-right: $layout-space-tablet * $i;
        }
        .p-y-#{$i} {
            padding-top: $layout-space-tablet * $i;
            padding-bottom: $layout-space-tablet * $i;
        }
        .p-l-#{$i} {
            padding-left: $layout-space-tablet * $i;
        }
        .p-r-#{$i} {
            padding-right: $layout-space-tablet * $i;
        }
        .p-t-#{$i} {
            padding-top: $layout-space-tablet * $i;
        }
        .p-b-#{$i} {
            padding-bottom: $layout-space-tablet * $i;
        }
    }

    @media screen and (min-width: $desktop) {
        .m-#{$i} {
            margin: $layout-space-desktop * $i;
        }
        .m-x-#{$i} {
            margin-left: $layout-space-desktop * $i;
            margin-right: $layout-space-desktop * $i;
        }
        .m-y-#{$i} {
            margin-top: $layout-space-desktop * $i;
            margin-bottom: $layout-space-desktop * $i;
        }
        .m-l-#{$i} {
            margin-left: $layout-space-desktop * $i;
        }
        .m-r-#{$i} {
            margin-right: $layout-space-desktop * $i;
        }
        .m-t-#{$i} {
            margin-top: $layout-space-desktop * $i;
        }
        .m-b-#{$i} {
            margin-bottom: $layout-space-desktop * $i;
        }
        .m--l-#{$i} {
            margin-left: -($layout-space-desktop) * $i;
        }
        .m--r-#{$i} {
            margin-right: -($layout-space-desktop) * $i;
        }
        .m--t-#{$i} {
            margin-top: -($layout-space-desktop) * $i;
        }
        .m--b-#{$i} {
            margin-bottom: -($layout-space-desktop) * $i;
        }
        .p-#{$i} {
            padding: $layout-space-desktop * $i;
        }
        .p-x-#{$i} {
            padding-left: $layout-space-desktop * $i;
            padding-right: $layout-space-desktop * $i;
        }
        .p-y-#{$i} {
            padding-top: $layout-space-desktop * $i;
            padding-bottom: $layout-space-desktop * $i;
        }
        .p-l-#{$i} {
            padding-left: $layout-space-desktop * $i;
        }
        .p-r-#{$i} {
            padding-right: $layout-space-desktop * $i;
        }
        .p-t-#{$i} {
            padding-top: $layout-space-desktop * $i;
        }
        .p-b-#{$i} {
            padding-bottom: $layout-space-desktop * $i;
        }
    }
}
