/* table */
table {
    margin: $element-space 0;
    width: 100%;

    thead {
        tr {
            border-bottom: 1px solid rgba($color-main-font,0.1);
            th {
                color: rgba($color-main-font,0.4);
                text-align: left;
                font-size: $font-size;
                font-weight: $font-weight;
                line-height: $font-line;
                padding: $element-space * 1.5 $element-space * .5 $element-space * .1;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid rgba($color-main-font,0.1);
            td {
                text-align: left;
                padding: $element-space * .1 $element-space * .5;
            }
        }
    }
}

table.trhover {
    tbody {
        tr {
            background: rgba($color-main-font,0);
        }
        tr:hover {
            background: rgba($color-main-font,0.15);
        }
    }
}

table.responsive {
    thead {
        display: none;
    }
    tbody {
        tr {
            border-bottom: 1px solid rgba($color-main-font,0.1);
            tdh {
                color: rgba($color-main-font,0.4);
                text-align: left;
                display: block;
                font-size: $font-size * .7;
                font-weight: normal;
                line-height: $font-line;
                padding-top: $element-space * .5;
            }
            td {
                text-align: left;
                padding: $element-space * .1 $element-space * .5;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    table.responsive {
        thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
            tr {
                border-bottom: 1px solid rgba($color-main-font, .1);
                th {
                    color: rgba($color-main-font, .4);
                    text-align: left;
                    font-size: $font-size;
                    font-weight: normal;
                    line-height: $font-line;
                    padding: $element-space * 1.5 $element-space * .5 $element-space * .1;
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid rgba($color-main-font, .1);
                tdh {
                    display: none;
                }
                td {
                    text-align: left;
                    padding: $element-space * .1 $element-space * .5;
                }
            }
        }
    }
}
