/* text */
body {
    font-family: $font-family;
    font-line: $font-line;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-space: $font-space;
}

p {
    margin: $element-space 0;
    padding: 0;
}

b,
strong,
.bold {
    font-style: normal;
    font-weight: bold;
    display: inline-block;
}

blockquote {
    font-size: 1.2em;
    margin: $element-space;
    padding: 0;
    &::before {
        content: "\201C";
        font-family: Georgia, serif;
    }
    cite {
        display: block;
        font-size: 0.8em;
        &::before {
            content: "- ";
        }
        &::after {
            content: "";
        }
    }
}

cite,
q {
    color: rgba($color-font,0.8);
    display: inline-block;
    font-style: italic;
    &::before {
        content: "\201C";
        font-family: Georgia, serif;
    }
    &::after {
        content: "\201D";
        font-family: Georgia, serif;
    }
}

i,
.italic {
    font-style: italic;
}

em {
    font-style: italic;
    font-weight: bold;
}

del {
    color: rgba($color-font,0.5);
}

abbr,
ins,
small,
sub,
sup,
code,
kbd,
mark,
samp {
    display: inline-block;
    font-style: normal;
    line-height: $font-line;
}
ins {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba($color-font,0.3);
}

code,
kbd,
mark,
samp,
var {
    font-family: $font-code-family;
    font-weight: $font-code-weight;
    border-radius: $font-code-radius;
    letter-spacing: $font-code-space;
    margin: 0;
    padding: 0 $element-space/2;
}

code {
    background: rgba(mix($color-primary, $color-font, 70), 0.1);
    color: rgba(mix($color-primary, $color-font, 50), 0.9);
}

mark {
    background: rgba(mix($color-highlight, $color-background, 90), 0.9);
    color: rgba(mix($color-highlight, $color-font, 30), 0.9);
}

kbd {
    background: rgba($color-font, 0.7);
    color: rgba($color-font, 1);
}
samp {
    background: rgba($color-font, 0.1);
    color: rgba($color-font, 0.7);
}

// sizes
.text-sm {
    font-size: $font-size * .75;
    line-height: $font-size * .75;
}
.text-lg {
    font-size: $font-size * 1.5;
    line-height: $font-size * 1.5;
}
.text-lead {
    font-size: $font-size * 2;
    line-height: $font-size * 1;
}
