// color
$color-background: #fff;
$color-font: #333;

$color-primary: #FF4533;
$color-font-primary: #fff;
$color-secondary: #FF7C4C;
$color-font-secondary: #A3421F;
$color-accent: #00A875;
$color-font-accent: #fff;

$color-success: mix(#28b515, $color-primary, 99%);
$color-font-success: darken($color-success, 20);
$color-warning: mix(#ffd800, $color-primary, 99%);
$color-font-warning: darken($color-warning, 25);
$color-error: mix(#ff4949, $color-primary, 99%);
$color-font-error: darken($color-error, 35);
$color-info: mix(#0897e2, $color-primary, 99%);
$color-font-info: darken($color-info, 25);

$color-lightgray: mix(#eee, $color-primary, 99%);
$color-font-lightgray: darken($color-lightgray, 33);
$color-midgray: mix(#aaa, $color-primary, 99%);
$color-font-midgray: darken($color-midgray, 33);
$color-darkgray: mix(#555, $color-primary, 99%);
$color-font-darkgray: lighten($color-darkgray, 66);

$color-highlight: mix(#fd0, $color-primary, 99%);

$c: (primary, $color-primary, $color-font-primary),
    (secondary, $color-secondary, $color-font-secondary),
    (accent, $color-accent, $color-font-accent),
    (success, $color-success, $color-font-success),
    (warning, $color-warning, $color-font-warning),
    (error, $color-error, $color-font-error),
    (info, $color-info, $color-font-info),
    (lightgray, $color-lightgray, $color-font-lightgray),
    (midgray, $color-midgray, $color-font-midgray),
    (darkgray, $color-darkgray, $color-font-darkgray);

// fonts
$font-family: sans-serif;
$font-line: 1.6em;
$font-size: 16px;
$font-space: 0.01em;
$font-weight: 300;

$font-title-family: Georgia, serif;
$font-title-line: 1em;
$font-title-space: 0;
$font-title-weight: 400;
$font-title-style: normal;
$font-title-line-weight: 2px;
$font-title-line-width: 3vw;

$font-code-family: monospace;
$font-code-space: 0;
$font-code-weight: 400;
$font-code-radius: 2px;

$font-link-family: $font-family;
$font-link-line: $font-line;
$font-link-size: $font-size;
$font-link-space: $font-space;
$font-link-weight: $font-weight;

$font-form-family: $font-family;
$font-form-line: $font-line;
$font-form-size: $font-size * .77;
$font-form-space: $font-space;
$font-form-weight: $font-weight;

// buttons & form elements
$btn-box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
$btn-box-shadow-hover: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

$btn-border-radius: 2px;
$btn-border-style: solid;
$btn-border-width: 1px;

$form-border-radius: 2px;
$form-border-style: solid;
$form-border-width: 1px;

$form-padding: 10px;
$form-margin-y: 2px;


// margins
$layout-space: 7vw;
$element-space: 24px;
