// color
$color-main-bg:         #fff;
$color-main-font:       #333;
$color-primary:         #FF4533;
$color-primary-font:    #710;
$color-secondary:       #FF7C4C;
$color-secondary-font:  #A3421F;
$color-accent:          #00A875;
$color-accent-font:     #006521;

$color-success:     mix(#28b515, $color-primary, 99%);
$color-warning:     mix(#ffd800, $color-primary, 99%);
$color-error:       mix(#ff4949, $color-primary, 99%);
$color-info:        mix(#0897e2, $color-primary, 99%);

$color-white:       mix(#fff, $color-primary, 99%);
$color-gray-light:  mix(#eee, $color-primary, 99%);
$color-gray-mid:    mix(#ccc, $color-primary, 99%);
$color-gray-dark:   mix(#555, $color-primary, 95%);
$color-black:       mix(#111, $color-primary, 95%);

$color-highlight:   mix(#fd0, $color-primary, 99%);

// $colors: (name       color               font-color)
$colors:    (primary,   $color-primary,     $color-primary-font),
            (secondary, $color-secondary,   $color-secondary-font),
            (accent,    $color-accent,      $color-accent-font),
            (success,   $color-success,     darken($color-success, 20)),
            (warning,   $color-warning,     darken($color-warning, 25)),
            (error,     $color-error,       darken($color-error, 35)),
            (info,      $color-info,        darken($color-info, 25)),
            (white,     $color-white,       darken($color-white, 70)),
            (gray-light,$color-gray-light,  darken($color-gray-light, 33)),
            (gray-mid,  $color-gray-mid,    darken($color-gray-mid, 33)),
            (gray-dark, $color-gray-dark,   lighten($color-gray-dark, 66)),
            (black,     $color-black,       lighten($color-black, 70));




// fonts
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,700');
$font-family:   'Open Sans', sans-serif;
$font-line:     1.6em;
$font-size:     16px;
$font-space:    0.01em;
$font-weight:   300;

$font-title-family:         'Fredoka One', Georgia, serif;
$font-title-line:           1em;
$font-title-space:          0;
$font-title-weight:         400;
$font-title-style:          normal;
$font-title-line-weight:    2px;
$font-title-line-width:     3vw;

$font-code-family:  monospace;
$font-code-space:   0;
$font-code-weight:  400;
$font-code-radius:  2px;

$font-link-weight:  $font-weight;

$font-label-size:    $font-size * .77;
$font-label-weight:  $font-weight;




// buttons & form elements
$btn-box-shadow:
    0 0 0 0 rgba(0,0,0,0),
    0 0 0 0 rgba(0,0,0,0);
$btn-box-shadow-hover:
    0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);

$btn-border-radius: 2px;
$btn-border-style:  solid;
$btn-border-width:  1px;

$form-padding:  10px;
$form-margin-y: 2px;

$input-border-radius:       2px;
$input-border-style:        solid;
$input-border-width:        1px; // for checkbox and radio buttons
$input-border-top-width:    1px;
$input-border-left-width:   1px;
$input-border-right-width:  1px;
$input-border-bottom-width: 1px;



// media queries
$mobile:    20rem;
$tablet:    48rem;
$desktop:   64rem;

// heading
$font-title-size-mobile:   18px;
$font-title-size-tablet:   22px;
$font-title-size-desktop:  32px;

// form
$input-width-mobile:       100%;
$input-min-width-mobile:   100%;
$input-max-width-mobile:   100%;

$input-width-tablet:       auto;
$input-min-width-tablet:   320px;
$input-max-width-tablet:   100%;

$input-width-desktop:      auto;
$input-min-width-desktop:  320px;
$input-max-width-desktop:  100%;

// layout
$layout-margins-quantity: 5;

$layout-space-mobile:   2vw;
$layout-space-tablet:   2vw;
$layout-space-desktop:  2vw;

$element-space-mobile:  30px;
$element-space-tablet:  40px;
$element-space-desktop: 50px;

// width container
$container-width-mobile:  90%;
$container-width-tablet:  90%;
$container-width-desktop: 90%;

$container-min-width-mobile:  90%;
$container-min-width-tablet:  auto;
$container-min-width-desktop: auto;

$container-max-width-mobile:  90%;
$container-max-width-tablet:  900px;
$container-max-width-desktop: 1000px;

// height container
$container-height-mobile:  auto;
$container-height-tablet:  auto;
$container-height-desktop: auto;

$container-min-height-mobile:   100vh;
$container-min-height-tablet:   100vh;
$container-min-height-desktop:  100vh;

$container-max-height-mobile:   auto;
$container-max-height-tablet:   auto;
$container-max-height-desktop:  auto;

// grid
$grid-quantity: 7;
