// button
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
    background: $m-btn-background;
    border: $m-btn-border;
    border-radius: $m-btn-border-radius;
    box-shadow: $m-btn-shadow;
    color: $m-btn-color;
    padding: $m-input-padding $m-input-padding * 1.5;
    transition: $m-transition;
    cursor: pointer;
    display: inline-flex;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    align-items: center;
    justify-content: center;
    line-height: 1.2em;
    font-size: $m-font-size;

    &:active,
    &:hover,
    &:focus {
        background: $m-btn-background-hover;
        border: $m-btn-border-hover;
        box-shadow: $m-btn-shadow-hover;
        color: $m-btn-color-hover;
    }

    &[hidden],
    &.hidden {
        display: none;
    }
}

.btn-sm {
    font-size: $m-font-size * .75;
    padding: $m-input-padding * .5 $m-input-padding;
}
.btn-lg {
    font-size: $m-font-size * 1.5;
    padding: $m-input-padding * 2 $m-input-padding * 4;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-circle {
    border-radius: 50%;
    padding: 0;
    height: $m-input-height;
    width: $m-input-height;
}
.btn-circle-sm {
    border-radius: 50%;
    font-size: $m-font-size * .75;
    padding: 0;
    height: $m-input-height * .75;
    width: $m-input-height * .75;
}
.btn-circle-lg {
    border-radius: 50%;
    font-size: $m-font-size * 1.5;
    padding: 0;
    height: $m-input-height * 1.5;
    width: $m-input-height * 1.5;
}

@each $name, $color, $color-hover, $font , $font-hover in $m-btn-colors {
    &.btn-#{$name} {
        background: $color;
        border-color: $color;
        color: $font;
        &:hover,
        &:focus {
            background: $color-hover;
            border-color: $color-hover;
            color: $font-hover;
        }
    }
    &.btn-#{$name}-line {
        background: transparent;
        box-shadow: none;
        border-color: $color;
        color: $color;
        &:hover,
        &:focus {
            background: $color-hover;
            border-color: $color-hover;
            box-shadow: none;
            color: $font-hover;
        }
    }
}
