/* button */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
    background: $color-background;
    border: 1px solid rgba($color-font,0.2);
    color: $color-font;
    cursor: pointer;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $font-space;
    line-height: $font-line;
    margin: 2.1px 0;
    padding: $font-size/4 $font-size;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
    height: $form-height;

    &:hover,
    &:focus {
        background: rgba($color-font,0.2);
        border-color: rgba($color-font,0.1);
        color: $color-font;
        text-decoration: none;
    }
}
