/* containers */
.main {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    width: 100%;
}

.medium {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}

.page {
    min-height: 100vh;
}
