// form
form,
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="button"],
[type="submit"],
[type="reset"],
[type="checkbox"],
[type="radio"],
label,
.label,
select,
.checkbox,
.radio,
.switch,
button,
textarea {
    user-select: none;
    resize: none;
    max-width: 100%;
}
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    border: $m-input-border;
    border-bottom: $m-input-border-bottom;
    border-radius: $m-input-border-radius;
    color: $m-color;
    font-family: $m-font-family;
    font-size: $m-font-size;
    letter-spacing: $m-letter-spacing;
    font-weight: $m-font-weight;
    line-height: $m-font-size;
    transition: $m-transition;
    padding: $m-input-padding;
    display: inline-flex;
    align-items: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    width: calc(100% - #{$m-input-padding} * 2 - 2px);
    &:hover,
    &:focus,
    &:active {
        border-color: $m-input-color-active;
    }
}

select {
    height: $m-input-height;
    width: 100%;
}

[type="file"] {
    height: $m-font-size + 2px;
}

label,
.label {
    font-size: $m-font-size * .75;
    margin: $m-spacelement * .5 0 0;
}

output {
    border-bottom: $m-input-border-bottom;
    color: $m-color;
    align-self: flex-end;
    height: $m-input-height;
    padding: 0 $m-input-padding;
    display: flex;
    align-items: center;
}

[type="checkbox"],
[type="radio"] {
    cursor: pointer;
    margin: 0 $m-spacelement * .1 0 0;
}

[type="checkbox"] + label,
[type="radio"] + label {
    cursor: pointer;
    font-size: $m-font-size;
    margin: 0 $m-spacelement 0 0;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
    cursor: default;
    opacity: .5;
}

.checkbox,
.radio,
.switch {
    display: inline-flex;
    [type="checkbox"],
    [type="radio"] {
        display: none;
    }

    [type="checkbox"] + label,
    [type="radio"] + label {
        position: relative;

        &::before {
            display: block;
            position: absolute;
            left: 0;
            content: "";
            transition: $m-transition;
        }

        &::after {
            position: absolute;
            content: "";
            transition: $m-transition;
        }
    }

    [type="checkbox"]:checked + label ,
    [type="radio"]:checked + label {
        color: darken($m-input-color-active, 5);
        &::before {
            border-color: $m-input-color-active;
        }
        &::after {
            border-color: $m-input-color-active;
        }
    }
}

.checkbox {
    [type="checkbox"] + label,
    [type="radio"] + label {
        padding-left: $m-checkbox-height * 1.5;
        &.empty {
            margin-right: 2px;
            padding-left: 0;
            height: $m-checkbox-height;
            width: $m-checkbox-height;
        }

        &::before {
            border: $m-checkbox-border;
            border-radius: $m-input-border-radius;
            height: $m-checkbox-height;
            width: $m-checkbox-height;
        }

        &::after {
            width: $m-checkbox-height * .6;
            height: $m-checkbox-height * .25;
            border-style: solid;
            border-width: 2px;
            border-color: transparent;
            border-top: none;
            border-right: none;
            background: transparent;
            transform: rotate(-45deg);
            top: $m-checkbox-height * .3;
            left: $m-checkbox-height * .2;
        }
    }

    [type="checkbox"]:checked + label ,
    [type="radio"]:checked + label {
        &::before {
            background: $m-input-color-active;
            border-color: $m-input-color-active;
        }
        &::after {
            border-color: $m-input-after-active;
        }
    }
}

.radio {
    [type="checkbox"] + label,
    [type="radio"] + label {
        padding-left: $m-checkbox-height * 1.5;
        &.empty {
            margin-right: 2px;
            padding-left: 0;
            height: $m-checkbox-height;
            width: $m-checkbox-height;
        }

        &::before {
            border: $m-checkbox-border;
            border-radius: 50%;
            height: $m-checkbox-height;
            width: $m-checkbox-height;
        }
        &::after {
            background: transparent;
            border-radius: 50%;
            height: $m-checkbox-height * .3;
            width: $m-checkbox-height * .3;
            top: $m-checkbox-height *.4;
            left: $m-checkbox-height *.4;
        }
    }
    [type="radio"]:checked + label {
        &::before {
            background: $m-input-color-active;
            border-color: $m-input-color-active;
        }
        &::after {
            background: $m-input-after-active;
        }
    }
}

.switch {
    [type="checkbox"] + label,
    [type="radio"] + label {
        padding-left: $m-checkbox-height * 2.5;
        &.empty {
            margin-right: 2px;
            padding-left: 0;
            height: $m-checkbox-height;
            width: $m-checkbox-height * 2;
        }

        &::before {
            background: $m-switch-background-off;
            border-radius: $m-checkbox-height;
            height: $m-checkbox-height + 4px;
            width: $m-checkbox-height * 2 + 4px;
        }
        &::after {
            background: $m-switch-color-off;
            border-radius: $m-checkbox-height;
            height: $m-checkbox-height;
            width: $m-checkbox-height;
            margin: 2px;
            left: 0;
        }
    }

    [type="checkbox"]:checked + label,
    [type="radio"]:checked + label {
        &::before {
            background: $m-switch-background-on;
        }
        &::after {
            background: $m-switch-color-on;
            left: $m-checkbox-height;
        }
    }
}

fieldset {
    background: $m-fieldset-background;
    border: $m-fieldset-border;
    border-radius: $m-input-border-radius;
    box-shadow: $m-fieldset-shadow;
    margin: $m-spacelement 0;
}
legend {
    padding: $m-spacelement;
}

.form-block {
    margin: $m-spacelement * .5 0 0;
}

.form-inline {
    display: flex;
    align-items: baseline;
    margin: $m-spacelement * .5 0 0;

    label,
    .label {
        white-space: nowrap;
        margin: 0 $m-spacelement * .5 0 0;
    }

    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="file"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"],
    select,
    output,
    .file,
    textarea {
        flex: 1;
        &:not(:last-child) {
            margin: 0 $m-spacelement 0 0;
        }
    }

    span {
        &:not(:last-child) {
            margin: 0 $m-spacelement 0 0;
        }
    }
}
.form-inlineblock {
    display: flex;
    align-items: flex-end;
    margin: $m-spacelement * .5 0 0;

    .form-block {
        flex: 1;
        &:not(:last-child) {
            margin: 0 $m-spacelement 0 0;
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $m-background inset;
    transition: background-color 5000s ease-in-out 0s;
}

input,
.checkbox,
.radio,
.switch,
textarea,
select,
label,
.label,
output,
fieldset,
legend,
form,
.form-block,
.form-inline,
.form-inlineblock {
    &[hidden],
    &.hidden {
        display: none;
    }
}

::-webkit-input-placeholder {
    color: rgba($m-color, 0.4);
}
::-moz-placeholder {
    color: rgba($m-color, 0.4);
}
:-ms-input-placeholder {
    color: rgba($m-color, 0.4);
}
:-moz-placeholder {
    color: rgba($m-color, 0.4);
}
