/* columns */
.columns-container {
    column-width: 100%;
    column-gap: $columns-space;
    column-count: 2;
    margin: 0;
    padding: 0;

    .cc {
        display: inline-block;
        margin: 0 0 $columns-space/1.5;
        overflow: hidden;
        margin-top: 0;
        padding: 0;
        position: relative;
        column-break-inside: avoid;
    }
}

@media only screen and (min-width: 768px) {
    .columns-container {
        column-count: 4;
    }
}
