// image
.img-link {
    max-height: $m-font-size;
    vertical-align: baseline;
}

.img-btn {
    height: $m-input-height;
    width: $m-input-height;
    object-fit: cover;
    border-radius: $m-btn-border-radius;
}
.img-btn + * {
    margin: 0 $m-input-padding*1.5 0 $m-input-padding;
}

.img-btn-sm {
    height: $m-input-height*.75;
    width: $m-input-height*.75;
    object-fit: cover;
    border-radius: $m-btn-border-radius;
}
.img-btn-sm + * {
    margin: 0 $m-input-padding;
}

.img-btn-lg {
    height: $m-input-height*1.5;
    width: $m-input-height*1.5;
    object-fit: cover;
    border-radius: $m-btn-border-radius;
}
.img-btn-lg + * {
    margin: 0 $m-input-padding*3 0 $m-input-padding;
}


.img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-fill {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.img-fill-height {
    height: 100%;
    object-fit: fill;
}
.img-fill-width {
    width: 100%;
    object-fit: fill;
}
.img-contain {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
