/* margins */
@for $i from 0 through 3 {
    .m-#{$i} {
        margin: $layout-space * $i;
    }

    .m-x-#{$i} {
        margin-left: $layout-space * $i;
        margin-right: $layout-space * $i;
    }
    .m-y-#{$i} {
        margin-top: $layout-space * $i;
        margin-bottom: $layout-space * $i;
    }

    .m-l-#{$i} {
        margin-left: $layout-space * $i;
    }
    .m-r-#{$i} {
        margin-right: $layout-space * $i;
    }
    .m-t-#{$i} {
        margin-top: $layout-space * $i;
    }
    .m-b-#{$i} {
        margin-bottom: $layout-space * $i;
    }

    .m--l-#{$i} {
        margin-left: -($layout-space) * $i * 2;
    }
    .m--r-#{$i} {
        margin-right: -($layout-space) * $i * 2;
    }
    .m--t-#{$i} {
        margin-top: -($layout-space) * $i * 2;
    }
    .m--b-#{$i} {
        margin-bottom: -($layout-space) * $i * 2;
    }

    .p-#{$i} {
        padding: $layout-space * $i;
    }

    .p-x-#{$i} {
        padding-left: $layout-space * $i;
        padding-right: $layout-space * $i;
    }
    .p-y-#{$i} {
        padding-top: $layout-space * $i;
        padding-bottom: $layout-space * $i;
    }

    .p-l-#{$i} {
        padding-left: $layout-space * $i;
    }
    .p-r-#{$i} {
        padding-right: $layout-space * $i;
    }
    .p-t-#{$i} {
        padding-top: $layout-space * $i;
    }
    .p-b-#{$i} {
        padding-bottom: $layout-space * $i;
    }
}
