// link
a,
.link {
    font-size: inherit;
    color: $m-a-color;
    transition: $m-transition;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    &:hover,
    &:focus {
        color: $m-a-color-hover;
        background: transparent;
        border: none;
        box-shadow: none;
        text-decoration: none;
    }
}

.link-underline {
    position: relative;
    text-decoration: none;

    &::after {
        background: $m-a-color;
        transition: $m-transition;
        height: $m-a-underline;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
    }
    &:hover,
    &:focus {
        text-decoration: none;

        &::after {
            background: $m-a-color-hover;
            left: 0;
            width: 100%;
        }
    }
}

@each $name, $color in $m-colors {
    .link-#{$name} {
        color: $color;
        &:hover,
        &:focus {
            color: darken($color, 10);
        }
    }

    .link-underline.link-#{$name}{
        &::after {
            background: lighten($color, 80);
        }
        &:hover,
        &:focus {
            &::after {
                background: darken($color, 10);
            }
        }
    }
}
