// list
ul,
ol {
    list-style-position: inside;
    margin: 0 0 $m-spacelement;
    padding: 0;

    ul,
    ol {
        margin: 0 0 0 $m-spacelement * .5;
    }
}

dl {
    display: block;
    margin: 0 0 $m-spacelement;
    padding: 0;
    dt {
        display: block;
        font-size: .7em;
        font-weight: bolder;
        text-transform: uppercase;
    }
    dd {
        display: block;
        margin: 0 0 $m-spacelement * .25;
        padding: 0;
    }
}

.list-clean {
    list-style: none;
}

.list-striped {
    > li:nth-child(even) {
        background: $m-striped-even;
    }
    > li:nth-child(odd) {
        background: $m-striped-odd;
    }
    > dt {
        padding: $m-spacelement * .25 $m-spacelement * .5 0;
    }
    > dd {
        margin: 0;
        padding: 0 $m-spacelement * .5 $m-spacelement * .25;
    }
    > dt:nth-of-type(odd) {
        background: $m-striped-odd;
    }
    > dd:nth-of-type(odd) {
        background: $m-striped-odd;
    }
    > dt:nth-of-type(even) {
        background: $m-striped-even;
    }
    > dd:nth-of-type(even) {
        background: $m-striped-even;
    }
}

.list-inline {
    list-style: none;
    display: flex;
    align-items: baseline;
    > li {
        display: inline-flex;
        margin: 0;
        &:not(:last-child) {
            margin-right: $m-spacelement * .5;
        }
    }
    > dt {
        display: inline-flex;
        margin: 0 $m-spacelement * .25 0 0;
    }
    > dd {
        display: inline-flex;
        margin: 0 $m-spacelement 0 0;
    }
}
