// typography
body {
    @extend %m-font-base;
    background: $m-background;
    color: $m-color;
}

p {
    @extend %m-font-base;
}

summary {
    @extend %m-font-base;
}

blockquote {
    font-size: 1.2em;
    margin: 0 $m-spacelement;
    padding: $m-spacelement;
    position: relative;
    &::before {
        content: "\201C";
        font-family: Georgia, serif;
        font-size: 7em;
        left: -#{$m-spacelement};
        opacity: 0.05;
        position: absolute;
        top: $m-spacelement * 2;
    }
}

del {
    opacity: 0.5;
}

em {
    font-style: italic;
    font-weight: bold;
}

code,
kbd,
mark,
samp {
    font-family: $m-code-family;
    font-weight: lighter;
    border-radius: 3px;
    margin: 0;
    padding: $m-spacelement * .1;
}
code {
    background: $m-color;
    color: $m-background;
}
kbd {
    background: #00f;
    color: #fff;
}
mark {
    background: #ff0;
    color: #333;
}
samp {
    background: #eee;
    color: #00f;
}
var {
    font-family: $m-code-family;
    font-style: italic;
    font-weight: bolder;
}

.word-break-all {
    word-break: break-all;
    hyphens: auto;
}
.word-wrap-break {
    word-wrap: break-word;
    hyphens: auto;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-xxs {
    font-size: xx-small;
}
.font-xs {
    font-size: x-small;
}
.font-s {
    font-size: small;
}
.font-m {
    font-size: medium;
}
.font-l {
    font-size: large;
}
.font-xl {
    font-size: x-large;
}
.font-xxl {
    font-size: xx-large;
}

.font-bold {
    font-weight: bolder;
}
.font-light {
    font-weight: lighter;
}

.font-italic {
    font-style: italic;
}

.text-capitalize {
    text-transform: capitalize;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-justify {
    text-align: justify;
}

@each $name, $color in $m-colors {
    .font-#{$name} {
        color: $color;
    }
}
