// layout
$m-spacelement: 30px;

// transition
// m.normalize
$m-transition:  all 0.2s linear;
$m-transition:  all 0.3s cubic-bezier(0.465, 0.240, 0.370, 0.825);

// box-shadow
$m-shadow:      0 5px 20px 0 rgba(0, 0, 0, 0.1);

// colors
// m.nomralize colors
$m-background:  #fff;
$m-color:       #333;

// mol primary colors
$m-primary:     #0089A2;
$m-secondary:   #2EDCC0;
$m-accent:      #EB6642;

$m-success:     #3c6;
$m-warning:     #fc3;
$m-error:       #f43;
$m-info:        #09c;
$m-muted:       #ccc;

$m-striped-odd: #eee;
$m-striped-even:#fff;

$m-colors:
    (primary, $m-primary),
    (secondary, $m-secondary),
    (accent, $m-accent),
    (success, $m-success),
    (warning, $m-warning),
    (error, $m-error),
    (info, $m-info),
    (muted, $m-muted);

$m-btn-colors:
    (primary, $m-primary, lighten($m-primary, 10), #fff, #fff),
    (secondary, $m-secondary, lighten($m-secondary, 10), #fff, #fff),
    (accent, $m-accent, darken($m-accent, 10), #fff, #fff),
    (success, $m-success, darken($m-success, 5), #fff, #fff),
    (warning, $m-warning, darken($m-warning, 10), #fff, #fff),
    (error, $m-error, darken($m-error, 5), #fff, #fff),
    (info, $m-info, darken($m-info, 5), #fff, #fff),
    (muted, $m-muted, darken($m-muted, 10), #fff, #fff);

// fonts
$m-font-family:     Arial, Helvetica, sans-serif;
$m-font-size:       16px;
$m-font-weight:     400;
$m-letter-spacing:  normal;
$m-line-height:     24px;

$m-code-family:     monospace;

$m-h-family:        Arial, Helvetica, sans-serif;
$m-h-size:          18px;
$m-h-height:        1em;
$m-h-spacing:       -0.05em;
$m-h-weight:        600;
$m-h-style:         normal;

// links
$m-a-underline:     2px;
$m-a-color:         $m-primary;
$m-a-color-hover:   darken($m-primary, 15);

// tables
$m-table-border:    1px solid #ddd;
$m-table-hover:     #ddd;

// buttons
$m-btn-background:      $m-primary;
$m-btn-color:           #fff;
$m-btn-border:          1px solid $m-primary;
$m-btn-shadow:          0 1px 10px 0 rgba(0, 0, 0, 0.1);
$m-btn-background-hover:lighten($m-primary, 7);
$m-btn-color-hover:     #fff;
$m-btn-border-hover:    1px solid lighten($m-primary, 5);
$m-btn-shadow-hover:    0 7px 10px 0 rgba(0, 0, 0, 0.3);
$m-btn-border-radius:   40px;

// buttons and inputs
$m-input-height:    40px;
$m-input-padding:   10px;

// forms
$m-input-border:        1px solid #ccc;
$m-input-border-bottom: 1px solid #ccc;
$m-input-border-radius: 1px;

$m-input-color-active:  $m-primary;
$m-input-after-active:  #fff;

$m-checkbox-height:     20px;
$m-checkbox-border:     1px solid #ccc;

$m-switch-background-off:   #eee;
$m-switch-background-on:    $m-input-color-active;
$m-switch-color-off:        #fff;
$m-switch-color-on:         #fff;

$m-fieldset-background: transparent;
$m-fieldset-border:     1px solid #eee;
$m-fieldset-shadow:     0 10px 20px 0 rgba(0, 0, 0, 0.05);
