// colors
$color-background: #eee;
$color-font: #333;

$color-link: #05f;

// fonts
$font-family: sans-serif;
$font-line: 1.6em;
$font-size: 16px;
$font-space: 0.01em;
$font-weight: 300;
$font-code-family: monospace;
$font-code-line: 1em;
$font-code-size: 1em;
$font-code-space: 0;
$font-code-weight: 400;
$font-title-family: Georgia, serif;
$font-title-line: 1em;
$font-title-space: 0;
$font-title-weight: 400;
$font-link-family: sans-serif;
$font-link-space: 0;
$font-link-weight: 400;

// space between elements
$layout-space: 2em;
