[hidden],
.hidden {
    display: none !important;
    pointer-events: none !important;
}

[disabled],
.disabled {
    cursor: default !important;
    opacity: 0.7 !important;
    pointer-events: none !important;
}

[readonly],
.readonly {
    cursor: default !important;
    pointer-events: none !important;
}
