/* link */
a,
.link {
    color: $mandarina-link-color;
    font-family: $mandarina-link-family;
    font-size: $mandarina-link-size;
    font-weight: $mandarina-link-weight;
    letter-spacing: $mandarina-link-space;
    line-height: $mandarina-link-height;
    transition: $mandarina-link-transition;

    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-rendering: optimizeLegibility;

    &:hover,
    &:focus {
        color: $mandarina-link-color-hover;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

a:not(.link-clean),
.link:not(.link-clean) {
    &::after {
        background: $mandarina-link-color;
        height: $mandarina-link-line-size;
        transition: $mandarina-link-transition;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
    }

    &:hover,
    &:focus {
        &::after {
            background: $mandarina-link-color-hover;
            width: 100%;
        }
    }
}

// sizes
a,
.link {
    &.link-sm {
        font-size: $mandarina-link-size * .75;
    }
    &.link-lg {
        font-size: $mandarina-link-size * 1.5;
    }
    &.link-block {
        width: 100%;
    }
}

// colors
@each $name, $color, $color-hover in $mandarina-link-colors {
    .link-#{$name} {
        color: $color;

        &:hover,
        &:focus {
            color: $color-hover;
        }
    }

    .link-#{$name}:not(.link-clean) {
        &::after {
            background: $color;
        }
        &:hover,
        &:focus {
            &::after {
                background: $color-hover;
            }
        }
    }
}
