/* table */
table {
    margin: 0 0 $mandarina-element-space;
    width: 100%;

    thead {
        tr {
            background: $mandarina-table-thead-background;
            border-bottom: $mandarina-table-thead-border;
            th {
                font-size: $mandarina-table-thead-font-size;
                font-weight: $mandarina-table-thead-font-weight;
                color: $mandarina-table-thead-color;
                line-height: $mandarina-table-thead-font-height;
                height: $mandarina-table-thead-height;
                padding: 0 $mandarina-element-space * .5;
                vertical-align: bottom;
                text-align: left;
            }
        }
    }
    tbody {
        tr {
            border-bottom: $mandarina-table-tbody-border;
            td {
                text-align: left;
                padding: $mandarina-element-space * .2 $mandarina-element-space * .5;
            }
        }
    }
    tfoot {
        tr {
            background: $mandarina-table-tfoot-background;
            td {
                font-size: $mandarina-table-tfoot-font-size;
                font-weight: $mandarina-table-tfoot-font-weight;
                color: $mandarina-table-tfoot-color;
                line-height: $mandarina-table-tfoot-font-height;
                height: $mandarina-table-tfoot-height;
                padding: 0 $mandarina-element-space * .5;
                vertical-align: bottom;
                text-align: left;
            }
        }
    }
}

.table-striped {
    tbody {
        tr:nth-child(even) {
            background: $mandarina-table-tbody-bg-even;
            border-bottom: none;
        }
        tr:nth-child(odd) {
            background: $mandarina-table-tbody-bg-odd;
            border-bottom: none;
        }
    }
}

.table-hover {
    tbody {
        tr {
            transition: $mandarina-table-transition;
        }
        tr:hover {
            background: $mandarina-table-tbody-bg-hover;
        }
    }
}

.table-bordered {
    border: $mandarina-table-border;
    thead {
        tr {
            th {
                border: $mandarina-table-border;
            }
        }
    }
    tbody {
        tr {
            td {
                border: $mandarina-table-border;
            }
        }
    }
    tfoot {
        tr {
            td {
                border: $mandarina-table-border;
            }
        }
    }
}
