/* text */
body {
    background: $mandarina-font-background;
    font-family: $mandarina-font-family;
    font-size: $mandarina-font-size;
    font-weight: $mandarina-font-weight;
    letter-spacing: $mandarina-font-spacing;
    line-height: $mandarina-font-height;
    text-rendering: optimizeLegibility;
}

p {
    margin: 0 0 $mandarina-element-space;
    padding: 0;
}

b,
strong {
    font-style: normal;
    font-weight: bold;
    display: inline-block;
}

blockquote {
    font-size: 1.2em;
    margin: $mandarina-element-space;
    padding: 0;
    &::before {
        content: "\201C";
        font-family: Georgia, serif;
    }
    cite {
        display: block;
        font-size: 0.8em;
        &::before {
            content: "- ";
        }
        &::after {
            content: "";
        }
    }
}

cite,
q {
    color: rgba($mandarina-font-color,0.8);
    display: inline-block;
    font-style: italic;
    &::before {
        content: "\201C";
        font-family: Georgia, serif;
    }
    &::after {
        content: "\201D";
        font-family: Georgia, serif;
    }
}

i {
    font-style: normal;
}

dfn {
    font-style: italic;
}

em {
    font-style: italic;
    font-weight: bold;
}

del {
    color: rgba($mandarina-font-color,0.5);
}

abbr,
ins,
small,
sub,
sup,
code,
kbd,
mark,
samp {
    display: inline-block;
    font-style: normal;
    line-height: $mandarina-font-height;
}
ins {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba($mandarina-font-color,0.3);
}

code,
kbd,
mark,
samp,
var {
    font-family: $mandarina-code-family;
    font-size: $mandarina-code-size;
    font-weight: $mandarina-code-weight;
    line-height: $mandarina-code-height;
    letter-spacing: $mandarina-code-spacing;
    border-radius: $mandarina-code-radius;
    margin: 0;
    padding: 0 $mandarina-element-space * .2;
}

code {
    background: $mandarina-code-background;
    color: $mandarina-code-color;
}

mark {
    background: $mandarina-mark-background;
    color: $mandarina-mark-color;
}

kbd {
    background: $mandarina-kbd-background;
    color: $mandarina-kbd-color;
}
samp {
    background: $mandarina-samp-background;
    color: $mandarina-samp-color;
}

::-webkit-selection {
    background-color: $mandarina-select-background;
    color: $mandarina-select-color;
    text-shadow: none;
}
::-moz-selection {
    background-color: $mandarina-select-background;
    color: $mandarina-select-color;
    text-shadow: none;
}
::selection {
    background-color: $mandarina-select-background;
    color: $mandarina-select-color;
    text-shadow: none;
}

// word
.word-break-all {
    word-break: break-all;
    hyphens: auto;
}
.word-wrap-break {
    word-wrap: break-word;
    hyphens: auto;
}
.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// sizes
.text-sm {
    font-size: $mandarina-font-size * .75;
    line-height: $mandarina-font-size * .75;
}
.text-lg {
    font-size: $mandarina-font-size * 1.5;
    line-height: $mandarina-font-size * 1.5;
}
.text-lead {
    font-size: $mandarina-font-size * 2;
    line-height: $mandarina-font-size * 2;
}

// weight
.text-bold {
    font-weight: bolder;
}
.text-light {
    font-weight: lighter;
}

// style
.text-italic {
    font-style: italic;
}

// transform
.text-capitalize {
    text-transform: capitalize;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}

// align
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-justify {
    text-align: justify;
}
